In [2]:
# import libraries
import pandas as pd

In [3]:
# read in the data
data_df = pd.read_csv('../data/processed_csv/project3_raw_complete.csv')
data_df

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
0,15,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,2.0,4.0
1,17,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0
2,14,4,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,4.0,5.0,5.0,5.0,5.0,5.0
3,8,4,2.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,...,2.0,1.0,1.0,2.0,4.0,5.0,5.0,5.0,5.0,5.0
4,14,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,4.0,5.0,5.0,4.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120538,15,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,1.0,2.0,4.0,5.0,5.0,5.0,5.0,5.0
120539,10,4,2.0,4.0,3.0,2.0,1.0,1.0,2.0,2.0,...,1.0,1.0,1.0,1.0,3.0,3.0,2.0,2.0,2.0,4.0
120540,16,4,2.0,2.0,0.0,5.0,2.0,2.0,2.0,2.0,...,1.0,2.0,2.0,1.0,4.0,5.0,5.0,5.0,4.0,5.0
120541,12,4,2.0,3.0,1.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,5.0,4.0,5.0,5.0,5.0,5.0
120542,11,4,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,4.0,5.0,3.0,5.0,3.0,5.0

In [4]:
# Assign X (data) and y (target)
X = data_df.drop(columns=['ALCDAYS'])
y = data_df['ALCDAYS'].values
print(X.shape, y.shape)

(120543, 63) (120543,)

In [5]:
from sklearn.preprocessing import LabelEncoder
# Step 1: Label-encode data set
encoded_y = LabelEncoder().fit(y).transform(y)

In [6]:
codes_df = pd.DataFrame({"Original class": y, "Encoded label": encoded_y})

In [7]:
# show original clas with encoded labels
codes_df.drop_duplicates()

      Original class  Encoded label
0               20.0             19
1               93.0             31
2                1.0              0
3                6.0              5
4               91.0             30
9                2.0              1
12               3.0              2
14               4.0              3
17              12.0             11
26              16.0             15
29               7.0              6
30               8.0              7
35              30.0             29
43               5.0              4
50               9.0              8
54              17.0             16
75              13.0             12
90              15.0             14
117             10.0              9
120             18.0             17
158             28.0             27
182             29.0             28
184             19.0             18
194             23.0             22
237             14.0             13
293             22.0             21
388             25.0             24
677             21.0             20
846             24.0             23
984             27.0             26
993             11.0             10
2144            26.0             25

In [8]:
# Use sklearn's `train_test_split` to split the data into training and testing
from sklearn.model_selection import train_test_split

# split is random (shuffled) automatically
X_train_test, X_val, y_train_test, y_val = train_test_split(X, encoded_y, random_state=42, test_size=0.1)
X_train, X_test, y_train, y_test = train_test_split(X_train_test, y_train_test, random_state=42, test_size=0.2)

# Logistic Regression

In [8]:
# Create a Logistic Regression Model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=100000)

In [9]:
# Fit (train) or model using the training data
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=100000)

In [10]:
# print the R2 score before adjusting parameters
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")
# print(f"Validation Data Score: {classifier.score(X_val, y_val)}")

Training Data Score: 0.5422514114529323
Testing Data Score: 0.5374688911420408

In [11]:
# make a prediction on the validation data before adjusting parameters
predictions = classifier.predict(X_val)
pd.DataFrame({"Prediction": predictions, "Actual": y_val}).head(15)

    Prediction  Actual
0           29      24
1           31      31
2           31      31
3           30      30
4            4       9
5            9       4
6            3       7
7           19      25
8           30      30
9           31      31
10           4       0
11           1       1
12           9       4
13           3       9
14          19      24

In [12]:
# Create the GridSearch estimator along with a parameter object containing the values to adjust
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [1, 5, 10, 50],
              'penalty': ['L1', 'L2', 'none']}
grid = GridSearchCV(classifier, param_grid, verbose=True, n_jobs=-2)

In [13]:
# Fit the model using the grid search estimator. 
grid.fit(X_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=LogisticRegression(max_iter=100000), n_jobs=-2,
             param_grid={'C': [1, 5, 10, 50], 'penalty': ['L1', 'L2', 'none']},
             verbose=True)

In [14]:
# List the best parameters for this dataset
print(grid.best_params_)

{'C': 1, 'penalty': 'none'}

In [15]:
# List the best score
print(grid.best_score_)

0.5391289319045973

In [16]:
# print the R2 score before adjusting parameters
print(f"Training Data Score: {grid.score(X_train, y_train)}")
print(f"Testing Data Score: {grid.score(X_test, y_test)}")
# print(f"Validation Data Score: {grid.score(X_val, y_val)}")

Training Data Score: 0.5421361908053923
Testing Data Score: 0.5376532399299475

In [17]:
# make a prediction on the validation data
predictions = grid.predict(X_val)
pd.DataFrame({"Prediction": predictions, "Actual": y_val}).head(15)

    Prediction  Actual
0           29      24
1           31      31
2           31      31
3           30      30
4            4       9
5            9       4
6            3       7
7           19      25
8           30      30
9           31      31
10           4       0
11           1       1
12           9       4
13           3       9
14          19      24

In [18]:
import joblib
# save/ export the model
joblib.dump(grid, '../Machine_learning_models/Alcohol_LogRegr_fulldataset.smd')
print("Model is saved.")

Model is saved.

In [19]:
load_model = joblib.load('../Machine_learning_models/Alcohol_LogRegr_fulldataset.smd')

In [20]:
load_model.predict(X_val)

array([29, 31, 31, ...,  0, 30,  1])

# Random Forest

In [9]:
from sklearn.ensemble import RandomForestClassifier

# Create a random forest classifier
rf = RandomForestClassifier(n_estimators=200)
rf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=200)

In [22]:
print(f"Training Data Score: {rf.score(X_train, y_train)}")
print(f"Testing Data Score: {rf.score(X_test, y_test)}")

Training Data Score: 0.9993547643737758
Testing Data Score: 0.5484837312194673

In [23]:
# Random Forests in sklearn will automatically calculate feature importance
importances = rf.feature_importances_

# We can sort the features by their importance
sorted(zip(rf.feature_importances_, data_df.columns), reverse=True)

[(0.15879857728638372, 'ALCDAYS'),
 (0.13780606908304263, 'ALCYRTOT'),
 (0.12457805733711133, 'ALCREC'),
 (0.06243460716398499, 'ALCEVER'),
 (0.03977332892552325, 'AGE2'),
 (0.03505197624323, 'IRPINC3'),
 (0.03260251875931563, 'CIGTRY'),
 (0.026923261917462672, 'HEALTH'),
 (0.026275068900515994, 'SEDANYLIF'),
 (0.026233419993586256, 'IREDUHIGHST2'),
 (0.025065480583687343, 'DSTCHR30'),
 (0.024920252943593173, 'DSTHOP30'),
 (0.019682799867352843, 'WRKNUMJOB2'),
 (0.018878067344574187, 'MOVSINPYR2'),
 (0.01776889504348554, 'DSTEFF30'),
 (0.017003012665514513, 'IRMARIT'),
 (0.01653366838411465, 'DSTNRV30'),
 (0.016201432640540765, 'DSTRST30'),
 (0.01582979470883631, 'WRKSTATWK2'),
 (0.013872300617474123, 'METHAMEVR'),
 (0.011816985552756475, 'SEXATRACT'),
 (0.011351728634305976, 'PNRANYLIF'),
 (0.01133337613313156, 'IRWRKSTAT'),
 (0.011047282068050805, 'ALCUS30D'),
 (0.008964826802754735, 'TRQANYLIF'),
 (0.00859452871837447, 'STMANYLIF'),
 (0.008306097311010514, 'CIG100LF'),
 (0.007227523408720312, 'CIGDLYMO'),
 (0.005552901322839425, 'SEXIDENT'),
 (0.0054805532162124386, 'SERVICE'),
 (0.005025271374669536, 'MJEVER'),
 (0.004644612402624465, 'PSILCY'),
 (0.004177761026276838, 'MESC'),
 (0.003945590463652959, 'DIFFTHINK'),
 (0.003900797930611516, 'HEREVER'),
 (0.00343523731016099, 'LGAS'),
 (0.00311522284636512, 'NITOXID'),
 (0.0022500593720832522, 'INHALOTH'),
 (0.0020280547985557975, 'DMTAMTFXY'),
 (0.0020080258985369116, 'CG30EST'),
 (0.0018533453486473633, 'HALLUCOTH'),
 (0.0016947069946473985, 'DIFFWALK'),
 (0.0015975067859162028, 'CIGEVER'),
 (0.001456389947940749, 'DIFFERAND'),
 (0.0011435848323473852, 'PEYOTE'),
 (0.0010995531938103426, 'COCEVER'),
 (0.0010648877270502536, 'PCP'),
 (0.001014583707565308, 'SALVIADIV'),
 (0.0009445264083594283, 'SPPAINT'),
 (0.0009141508318413817, 'ECSTMOLLY'),
 (0.000895211981213591, 'LSD'),
 (0.0008616364718052878, 'CLEFLU'),
 (0.0007835164081470364, 'GAS'),
 (0.0007659012807970556, 'KETMINESK'),
 (0.0005902485837000343, 'CRKEVER'),
 (0.00047799359878759363, 'AMYLNIT'),
 (0.0004677519242920998, 'FELTMARKR'),
 (0.0004587365554716759, 'DIFFDRESS'),
 (0.000415640139725708, 'AIRDUSTER'),
 (0.00037976408582446835, 'ETHER'),
 (0.0002522795752524, 'OTHAEROS'),
 (0.00022851109929252966, 'SOLVENT'),
 (0.00020054551654076358, 'GLUE')]

In [24]:
# make a prediction on the validation data
rf_predictions = rf.predict(X_val)
pd.DataFrame({"Prediction": predictions, "Actual": y_val}).head(15)

    Prediction  Actual
0           29      24
1           31      31
2           31      31
3           30      30
4            4       9
5            9       4
6            3       7
7           19      25
8           30      30
9           31      31
10           4       0
11           1       1
12           9       4
13           3       9
14          19      24

In [11]:
# Create the GridSearch estimator along with a parameter object containing the values to adjust
from sklearn.model_selection import GridSearchCV
rf = RandomForestClassifier()
rf_param_grid = {'n_estimators': [100, 200, 500],
                'max_features': [10, 20, 50]}
                
grid_rf = GridSearchCV(rf, rf_param_grid, verbose=True, n_jobs=-2)

In [12]:
# Fit the model using the grid search estimator. 
grid_rf.fit(X_train, y_train)

Fitting 5 folds for each of 9 candidates, totalling 45 fits

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-2,
             param_grid={'max_features': [10, 20, 50],
                         'n_estimators': [100, 200, 500]},
             verbose=True)

In [13]:
# List the best parameters for this dataset
print(grid_rf.best_params_)

{'max_features': 50, 'n_estimators': 500}

In [14]:
# List the best score
print(grid_rf.best_score_)

0.5680377923723932

In [15]:
# print the R2 score before adjusting parameters
print(f"Training Data Score: {grid_rf.score(X_train, y_train)}")
print(f"Testing Data Score: {grid_rf.score(X_test, y_test)}")
# print(f"Validation Data Score: {grid.score(X_val, y_val)}")

Training Data Score: 0.9993547643737758
Testing Data Score: 0.56954558023781

In [32]:
# make a prediction on the validation data
predictions_rf = grid_rf.predict(X_val)
pd.DataFrame({"Prediction": predictions_rf, "Actual": y_val}).head(15)

    Prediction  Actual
0            7       7
1            7       7
2            7       7
3            7       7
4            6       6
5            7       7
6            6       6
7            6       6
8            6       6
9            7       7
10           7       7
11           7       7
12           6       6
13           7       7
14           7       7

In [33]:
# save/ export the model
joblib.dump(grid_rf, '../Machine_learning_models/Alcohol_RandomForest_fulldataset.smd')
print("Model is saved.")

Model is saved.

In [34]:
load_model_rf = joblib.load('../Machine_learning_models/Alcohol_RandomForest_fulldataset.smd')

In [35]:
load_model_rf.predict(X_val)

array([7, 7, 7, ..., 7, 6, 6])