In [1]:
# importing the libraries
import pandas as pd
import numpy as np

In [2]:
# Reading in the data
data_df = pd.read_csv('processed_csv/project3_raw_complete.csv')
data_df.head()

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
0,15,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,2.0,4.0
1,17,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0
2,14,4,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,4.0,5.0,5.0,5.0,5.0,5.0
3,8,4,2.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,...,2.0,1.0,1.0,2.0,4.0,5.0,5.0,5.0,5.0,5.0
4,14,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,4.0,5.0,5.0,4.0,4.0,5.0

In [3]:
data_df['LSD'].unique()

array([2., 1.])

In [4]:
def is_hallucinogens(LSD, PCP, PEYOTE, MESC, PSILCY, ECSTMOLLY, KETMINESK, DMTAMTFXY, SALVIADIV, HALLUCOTH):
    res = None
    if (LSD==1) | (PCP==1) | (PEYOTE==1) | (MESC==1) | (PSILCY==1) | (ECSTMOLLY==1) | (KETMINESK==1) |              (DMTAMTFXY==1) | (SALVIADIV==1) | (HALLUCOTH==1):
        res = 1
    else:
        res = 0
    return res

In [5]:
def is_inhalant(AMYLNIT, CLEFLU, GAS, GLUE, ETHER, SOLVENT, LGAS, NITOXID, FELTMARKR, SPPAINT, AIRDUSTER,       OTHAEROS, INHALOTH):
    res = None
    if (AMYLNIT==1) | (CLEFLU==1) | (GAS==1) | (GLUE==1) | (ETHER==1) | (SOLVENT==1) | (LGAS==1) |                  (NITOXID==1) | (FELTMARKR==1) | (SPPAINT==1) | (AIRDUSTER==1) | (OTHAEROS==1) | (INHALOTH==1):
        res = 1
    else:
        res = 0
    return res

In [13]:
def is_not_mental(DSTNRV30, DSTHOP30, DSTRST30, DSTCHR30, DSTEFF30, DSTNGD30):
    res = None
    if (DSTNRV30 + DSTHOP30 + DSTRST30 + DSTCHR30 + DSTEFF30 + DSTNGD30) <= 18:
        res = 1
    else:
        res = 0
    return res

In [7]:
data_df['halluciogens'] = data_df[['LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']].apply(lambda row: is_hallucinogens(row.LSD, row.PCP, row.PEYOTE, row.MESC, row.PSILCY, row.ECSTMOLLY, row.KETMINESK, row.DMTAMTFXY, row.SALVIADIV, row.HALLUCOTH), axis=1)

In [8]:
data_df['inhalants'] = data_df[['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']].apply(lambda row: is_inhalant(row.AMYLNIT, row.CLEFLU, row.GAS, row.GLUE, row.ETHER, row.SOLVENT, row.LGAS, row.NITOXID, row.FELTMARKR, row.SPPAINT, row.AIRDUSTER, row.OTHAEROS, row.INHALOTH), axis=1)

In [15]:
data_df['not_mental'] = data_df[['DSTNRV30', 'DSTHOP30', 'DSTRST30', 'DSTCHR30', 'DSTEFF30', 'DSTNGD30']].apply(lambda row: is_not_mental(row.DSTNRV30, row.DSTHOP30, row.DSTRST30, row.DSTCHR30, row.DSTEFF30, row.DSTNGD30), axis=1)

In [16]:
data_df

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30,halluciogens,inhalants,not_mental
0,15,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,3.0,3.0,3.0,2.0,4.0,0,1,1
1,17,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,5.0,5.0,5.0,5.0,5.0,5.0,0,0,0
2,14,4,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,4.0,5.0,5.0,5.0,5.0,5.0,0,0,0
3,8,4,2.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,...,2.0,4.0,5.0,5.0,5.0,5.0,5.0,0,0,0
4,14,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,4.0,5.0,5.0,4.0,4.0,5.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120538,15,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,4.0,5.0,5.0,5.0,5.0,5.0,1,0,0
120539,10,4,2.0,4.0,3.0,2.0,1.0,1.0,2.0,2.0,...,1.0,3.0,3.0,2.0,2.0,2.0,4.0,1,0,1
120540,16,4,2.0,2.0,0.0,5.0,2.0,2.0,2.0,2.0,...,1.0,4.0,5.0,5.0,5.0,4.0,5.0,0,1,0
120541,12,4,2.0,3.0,1.0,1.0,1.0,2.0,2.0,2.0,...,2.0,5.0,4.0,5.0,5.0,5.0,5.0,1,0,0
120542,11,4,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,4.0,5.0,3.0,5.0,3.0,5.0,0,0,0

In [17]:
# exporting the data to csv file
data_df.to_csv("processed_csv/project3_raw_complete_adjusted.csv", index=False)