In [185]:
# importing the libraries
import pandas as pd
import numpy as np

# 2019

In [186]:
# Reading in the data
data1_df = pd.read_csv('NSDUH_2019_Tab.csv')
data1.head()

,QUESTID2,AGE2,NOMARR2,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
0,43295143,15,1,2,2,0,1,1,2,2,...,1,2,2,2,2,3,3,3,2,4
1,65095143,17,2,2,2,0,1,1,2,2,...,1,2,2,2,5,5,5,5,5,5
2,49405143,14,99,2,2,0,1,1,2,2,...,1,2,2,2,4,5,5,5,5,5
3,51015143,9,99,2,3,0,1,1,2,2,...,1,1,2,2,3,4,5,4,5,5
4,31825143,7,99,2,2,0,1,1,2,2,...,2,2,2,2,2,3,3,4,4,3

In [187]:
data1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56136 entries, 0 to 56135
Columns: 2741 entries, QUESTID2 to VEREP
dtypes: float64(407), int64(2332), object(2)
memory usage: 1.1+ GB

In [188]:
# Extracting the colums required for the project
data1_df = data1_df[['AGE2', 'IRMARIT', 'SERVICE', 'HEALTH', 'MOVSINPYR2', 'SEXATRACT', 'SEXIDENT', 'DIFFTHINK', 'DIFFWALK','DIFFDRESS', 'DIFFERAND', 'IREDUHIGHST2', 'WRKSTATWK2', 'IRWRKSTAT', 'WRKNUMJOB2', 'IRPINC3', 'CIGEVER', 'CIGTRY', 'CIGDLYMO', 'CIG100LF', 'CG30EST', 'ALCEVER', 'ALCREC', 'ALCYRTOT', 'ALCDAYS', 'ALCUS30D', 'MJEVER', 'COCEVER', 'CRKEVER', 'HEREVER', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH', 'AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH', 'METHAMEVR', 'PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF', 'DSTNRV30', 'DSTHOP30', 'DSTRST30', 'DSTCHR30', 'DSTEFF30', 'DSTNGD30']]
data1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56136 entries, 0 to 56135
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AGE2          56136 non-null  int64
 1   IRMARIT       56136 non-null  int64
 2   SERVICE       56136 non-null  int64
 3   HEALTH        56136 non-null  int64
 4   MOVSINPYR2    56136 non-null  int64
 5   SEXATRACT     56136 non-null  int64
 6   SEXIDENT      56136 non-null  int64
 7   DIFFTHINK     56136 non-null  int64
 8   DIFFWALK      56136 non-null  int64
 9   DIFFDRESS     56136 non-null  int64
 10  DIFFERAND     56136 non-null  int64
 11  IREDUHIGHST2  56136 non-null  int64
 12  WRKSTATWK2    56136 non-null  int64
 13  IRWRKSTAT     56136 non-null  int64
 14  WRKNUMJOB2    56136 non-null  int64
 15  IRPINC3       56136 non-null  int64
 16  CIGEVER       56136 non-null  int64
 17  CIGTRY        56136 non-null  int64
 18  CIGDLYMO      56136 non-null  int64
 19  CIG100LF      56136 non-null  int64
 20  CG30EST       56136 non-null  int64
 21  ALCEVER       56136 non-null  int64
 22  ALCREC        56136 non-null  int64
 23  ALCYRTOT      56136 non-null  int64
 24  ALCDAYS       56136 non-null  int64
 25  ALCUS30D      56136 non-null  int64
 26  MJEVER        56136 non-null  int64
 27  COCEVER       56136 non-null  int64
 28  CRKEVER       56136 non-null  int64
 29  HEREVER       56136 non-null  int64
 30  LSD           56136 non-null  int64
 31  PCP           56136 non-null  int64
 32  PEYOTE        56136 non-null  int64
 33  MESC          56136 non-null  int64
 34  PSILCY        56136 non-null  int64
 35  ECSTMOLLY     56136 non-null  int64
 36  KETMINESK     56136 non-null  int64
 37  DMTAMTFXY     56136 non-null  int64
 38  SALVIADIV     56136 non-null  int64
 39  HALLUCOTH     56136 non-null  int64
 40  AMYLNIT       56136 non-null  int64
 41  CLEFLU        56136 non-null  int64
 42  GAS           56136 non-null  int64
 43  GLUE          56136 non-null  int64
 44  ETHER         56136 non-null  int64
 45  SOLVENT       56136 non-null  int64
 46  LGAS          56136 non-null  int64
 47  NITOXID       56136 non-null  int64
 48  FELTMARKR     56136 non-null  int64
 49  SPPAINT       56136 non-null  int64
 50  AIRDUSTER     56136 non-null  int64
 51  OTHAEROS      56136 non-null  int64
 52  INHALOTH      56136 non-null  int64
 53  METHAMEVR     56136 non-null  int64
 54  PNRANYLIF     56136 non-null  int64
 55  TRQANYLIF     56136 non-null  int64
 56  STMANYLIF     56136 non-null  int64
 57  SEDANYLIF     56136 non-null  int64
 58  DSTNRV30      56136 non-null  int64
 59  DSTHOP30      56136 non-null  int64
 60  DSTRST30      56136 non-null  int64
 61  DSTCHR30      56136 non-null  int64
 62  DSTEFF30      56136 non-null  int64
 63  DSTNGD30      56136 non-null  int64
dtypes: int64(64)
memory usage: 27.4 MB

In [189]:
# extracting over 18-years-of-age responses
data1_df = data1_df[data1_df['AGE2'] > 6]
data1_df

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
0,15,1,2,2,0,1,1,2,2,2,...,1,2,2,2,2,3,3,3,2,4
1,17,1,2,2,0,1,1,2,2,2,...,1,2,2,2,5,5,5,5,5,5
2,14,4,2,2,0,1,1,2,2,2,...,1,2,2,2,4,5,5,5,5,5
3,9,4,2,3,0,1,1,2,2,2,...,1,1,2,2,3,4,5,4,5,5
4,7,4,2,2,0,1,1,2,2,2,...,2,2,2,2,2,3,3,4,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56128,15,4,2,1,0,1,1,2,2,2,...,2,2,2,2,4,5,5,5,97,5
56129,13,1,2,1,0,1,1,2,2,2,...,1,5,1,2,2,4,3,4,4,4
56130,15,1,2,3,0,2,1,2,2,2,...,2,2,2,2,5,5,5,5,5,5
56131,10,4,2,2,1,3,3,2,2,2,...,5,2,2,2,4,4,4,4,4,4
56132,13,3,2,2,0,4,2,2,2,2,...,2,2,2,2,3,4,4,5,2,5

In [190]:
# copying the dataframe for more data cleaning
data1_df_cp = data1_df.copy()

In [191]:
# removing the 85 & 985 (bad data) response from all appropriate columns
data1_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']] = data1_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']].replace(85, 9999)
data1_df_cp = data1_df_cp.replace([85, 985], np.nan)
data1_df_cp = data1_df_cp.dropna()
data1_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']] = data1_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']].replace(9999, 85)
data1_df_cp

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
0,15,1,2.0,2,0.0,1.0,1.0,2.0,2.0,2.0,...,1,2,2,2,2.0,3.0,3.0,3.0,2.0,4.0
1,17,1,2.0,2,0.0,1.0,1.0,2.0,2.0,2.0,...,1,2,2,2,5.0,5.0,5.0,5.0,5.0,5.0
2,14,4,2.0,2,0.0,1.0,1.0,2.0,2.0,2.0,...,1,2,2,2,4.0,5.0,5.0,5.0,5.0,5.0
3,9,4,2.0,3,0.0,1.0,1.0,2.0,2.0,2.0,...,1,1,2,2,3.0,4.0,5.0,4.0,5.0,5.0
4,7,4,2.0,2,0.0,1.0,1.0,2.0,2.0,2.0,...,2,2,2,2,2.0,3.0,3.0,4.0,4.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56128,15,4,2.0,1,0.0,1.0,1.0,2.0,2.0,2.0,...,2,2,2,2,4.0,5.0,5.0,5.0,97.0,5.0
56129,13,1,2.0,1,0.0,1.0,1.0,2.0,2.0,2.0,...,1,5,1,2,2.0,4.0,3.0,4.0,4.0,4.0
56130,15,1,2.0,3,0.0,2.0,1.0,2.0,2.0,2.0,...,2,2,2,2,5.0,5.0,5.0,5.0,5.0,5.0
56131,10,4,2.0,2,1.0,3.0,3.0,2.0,2.0,2.0,...,5,2,2,2,4.0,4.0,4.0,4.0,4.0,4.0
56132,13,3,2.0,2,0.0,4.0,2.0,2.0,2.0,2.0,...,2,2,2,2,3.0,4.0,4.0,5.0,2.0,5.0

In [192]:
# replacing the responses not useable for the project, like 'don't know' or 'refused to respond' with NaN for easy removal of rows
data1_df_cp.loc[:, 'SERVICE'] = data1_df_cp.loc[:, 'SERVICE'].replace(97, np.nan)
data1_df_cp.loc[:, 'HEALTH'] = data1_df_cp.loc[:, 'HEALTH'].replace(97, np.nan)
data1_df_cp.loc[:, 'MOVSINPYR2'] = data1_df_cp.loc[:, 'MOVSINPYR2'].replace([994, 997, 998], np.nan)
data1_df_cp.loc[:, 'DIFFTHINK'] = data1_df_cp.loc[:, 'DIFFTHINK'].replace([94, 97, 98], np.nan)
data1_df_cp.loc[:, 'DIFFWALK'] = data1_df_cp.loc[:, 'DIFFWALK'].replace([94, 97, 98], np.nan)
data1_df_cp.loc[:, 'DIFFDRESS'] = data1_df_cp.loc[:, 'DIFFDRESS'].replace([94, 97, 98], np.nan)
data1_df_cp.loc[:, 'DIFFERAND'] = data1_df_cp.loc[:, 'DIFFERAND'].replace([94, 97, 98, 99], np.nan)
data1_df_cp.loc[:, 'IRMARIT'] = data1_df_cp.loc[:, 'IRMARIT'].replace(99, np.nan)
data1_df_cp.loc[:, 'WRKSTATWK2'] = data1_df_cp.loc[:, 'WRKSTATWK2'].replace([99, 98], np.nan)
data1_df_cp.loc[:, 'WRKNUMJOB2'] = data1_df_cp.loc[:, 'WRKNUMJOB2'].replace([94, 97, 98, 99], np.nan)
data1_df_cp.loc[:, 'IRWRKSTAT'] = data1_df_cp.loc[:, 'IRWRKSTAT'].replace(99, np.nan)

data1_df_cp.loc[:, 'CIGTRY'] = data1_df_cp.loc[:, 'CIGTRY'].replace([994, 997], np.nan)
data1_df_cp.loc[:, 'CIGDLYMO'] = data1_df_cp.loc[:, 'CIGDLYMO'].replace([94, 97], np.nan)
data1_df_cp.loc[:, 'CIG100LF'] = data1_df_cp.loc[:, 'CIG100LF'].replace([94, 97], np.nan)
data1_df_cp.loc[:, 'CG30EST'] = data1_df_cp.loc[:, 'CG30EST'].replace([94, 97, 98, 99], np.nan)

data1_df_cp.loc[:, 'ALCEVER'] = data1_df_cp.loc[:, 'ALCEVER'].replace([94, 97], np.nan)
data1_df_cp.loc[:, 'ALCREC'] = data1_df_cp.loc[:, 'ALCREC'].replace([97, 98], np.nan)
data1_df_cp.loc[:, 'ALCYRTOT'] = data1_df_cp.loc[:, 'ALCYRTOT'].replace([994, 997, 998], np.nan)
data1_df_cp.loc[:, 'ALCDAYS'] = data1_df_cp.loc[:, 'ALCDAYS'].replace([94, 97, 98, 99], np.nan)
data1_df_cp.loc[:, 'ALCUS30D'] = data1_df_cp.loc[:, 'ALCUS30D'].replace([994, 997, 998], np.nan)

data1_df_cp.loc[:, 'MOVSINPYR2'] = data1_df_cp.loc[:, 'MOVSINPYR2'].replace([994, 997, 998], np.nan)
data1_df_cp.loc[:, 'MOVSINPYR2'] = data1_df_cp.loc[:, 'MOVSINPYR2'].replace([994, 997, 998], np.nan)

data1_df_cp.loc[:, 'MJEVER'] = data1_df_cp.loc[:, 'MJEVER'].replace([94, 97], np.nan)
data1_df_cp.loc[:, 'COCEVER'] = data1_df_cp.loc[:, 'COCEVER'].replace([94, 97], np.nan)
data1_df_cp.loc[:, 'CRKEVER'] = data1_df_cp.loc[:, 'CRKEVER'].replace([94, 97, 98], np.nan)
data1_df_cp.loc[:, 'HEREVER'] = data1_df_cp.loc[:, 'HEREVER'].replace([94, 97], np.nan)

data1_df_cp.loc[:, ['LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']] = data1_df_cp.loc[:, ['LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']].replace([94, 97], np.nan)
data1_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']] = data1_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']].replace([94, 97], np.nan)

data1_df_cp.loc[:, 'METHAMEVR'] = data1_df_cp.loc[:, 'METHAMEVR'].replace([94, 97], np.nan)

data1_df_cp.loc[:, ['PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']] = data1_df_cp.loc[:, ['PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']].replace([94, 97, 98], np.nan)

data1_df_cp.loc[:, ['DSTNRV30', 'DSTHOP30', 'DSTRST30', 'DSTCHR30', 'DSTEFF30', 'DSTNGD30']] = data1_df_cp.loc[:, ['DSTNRV30', 'DSTHOP30', 'DSTRST30', 'DSTCHR30', 'DSTEFF30', 'DSTNGD30']].replace([94, 97, 98, 99], np.nan)

In [193]:
data1_df_cp = data1_df_cp.dropna()
data1_df_cp

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
0,15,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,2.0,4.0
1,17,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0
2,14,4,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,4.0,5.0,5.0,5.0,5.0,5.0
6,8,4,2.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,...,2.0,5.0,5.0,2.0,4.0,5.0,5.0,5.0,5.0,5.0
8,14,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,5.0,2.0,2.0,2.0,4.0,5.0,5.0,4.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56127,8,4,2.0,3.0,2.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,3.0,2.0,3.0,3.0,4.0,3.0
56129,13,1,2.0,1.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,5.0,1.0,2.0,2.0,4.0,3.0,4.0,4.0,4.0
56130,15,1,2.0,3.0,0.0,2.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0
56131,10,4,2.0,2.0,1.0,3.0,3.0,2.0,2.0,2.0,...,5.0,2.0,2.0,2.0,4.0,4.0,4.0,4.0,4.0,4.0
56132,13,3,2.0,2.0,0.0,4.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,3.0,4.0,4.0,5.0,2.0,5.0

In [194]:
data1_df_cp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24584 entries, 0 to 56132
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AGE2          24584 non-null  int64
 1   IRMARIT       24584 non-null  int64
 2   SERVICE       24584 non-null  float64
 3   HEALTH        24584 non-null  float64
 4   MOVSINPYR2    24584 non-null  float64
 5   SEXATRACT     24584 non-null  float64
 6   SEXIDENT      24584 non-null  float64
 7   DIFFTHINK     24584 non-null  float64
 8   DIFFWALK      24584 non-null  float64
 9   DIFFDRESS     24584 non-null  float64
 10  DIFFERAND     24584 non-null  float64
 11  IREDUHIGHST2  24584 non-null  int64
 12  WRKSTATWK2    24584 non-null  float64
 13  IRWRKSTAT     24584 non-null  int64
 14  WRKNUMJOB2    24584 non-null  float64
 15  IRPINC3       24584 non-null  int64
 16  CIGEVER       24584 non-null  int64
 17  CIGTRY        24584 non-null  float64
 18  CIGDLYMO      24584 non-null  float64
 19  CIG100LF      24584 non-null  float64
 20  CG30EST       24584 non-null  float64
 21  ALCEVER       24584 non-null  float64
 22  ALCREC        24584 non-null  float64
 23  ALCYRTOT      24584 non-null  float64
 24  ALCDAYS       24584 non-null  float64
 25  ALCUS30D      24584 non-null  float64
 26  MJEVER        24584 non-null  float64
 27  COCEVER       24584 non-null  float64
 28  CRKEVER       24584 non-null  float64
 29  HEREVER       24584 non-null  float64
 30  LSD           24584 non-null  float64
 31  PCP           24584 non-null  float64
 32  PEYOTE        24584 non-null  float64
 33  MESC          24584 non-null  float64
 34  PSILCY        24584 non-null  float64
 35  ECSTMOLLY     24584 non-null  float64
 36  KETMINESK     24584 non-null  float64
 37  DMTAMTFXY     24584 non-null  float64
 38  SALVIADIV     24584 non-null  float64
 39  HALLUCOTH     24584 non-null  float64
 40  AMYLNIT       24584 non-null  float64
 41  CLEFLU        24584 non-null  float64
 42  GAS           24584 non-null  float64
 43  GLUE          24584 non-null  float64
 44  ETHER         24584 non-null  float64
 45  SOLVENT       24584 non-null  float64
 46  LGAS          24584 non-null  float64
 47  NITOXID       24584 non-null  float64
 48  FELTMARKR     24584 non-null  float64
 49  SPPAINT       24584 non-null  float64
 50  AIRDUSTER     24584 non-null  float64
 51  OTHAEROS      24584 non-null  float64
 52  INHALOTH      24584 non-null  float64
 53  METHAMEVR     24584 non-null  float64
 54  PNRANYLIF     24584 non-null  float64
 55  TRQANYLIF     24584 non-null  float64
 56  STMANYLIF     24584 non-null  float64
 57  SEDANYLIF     24584 non-null  float64
 58  DSTNRV30      24584 non-null  float64
 59  DSTHOP30      24584 non-null  float64
 60  DSTRST30      24584 non-null  float64
 61  DSTCHR30      24584 non-null  float64
 62  DSTEFF30      24584 non-null  float64
 63  DSTNGD30      24584 non-null  float64
dtypes: float64(58), int64(6)
memory usage: 12.2 MB

In [195]:
# Some responses have different numbers but will mean the same in the m achine learning stage so I'm replacing them to be the same number
data1_df_cp.loc[:, 'SEXATRACT'] = data1_df_cp.loc[:, 'SEXATRACT'].replace(94, 6)
data1_df_cp.loc[:, 'SEXATRACT'] = data1_df_cp.loc[:, 'SEXATRACT'].replace([97, 99], 98)
data1_df_cp.loc[:, 'SEXIDENT'] = data1_df_cp.loc[:, 'SEXIDENT'].replace([97, 99], 98)
data1_df_cp.loc[:, ['CIGDLYMO', 'PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']] = data1_df_cp.loc[:, ['CIGDLYMO', 'PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']].replace(5, 1)

data1_df_cp.loc[:, 'ALCREC'] = data1_df_cp.loc[:, 'ALCREC'].replace(11, 1)
data1_df_cp.loc[:, 'ALCREC'] = data1_df_cp.loc[:, 'ALCREC'].replace(8, 2)
data1_df_cp.loc[:, 'ALCUS30D'] = data1_df_cp.loc[:, 'ALCUS30D'].replace(975, 4)

data1_df_cp.loc[:, ['CRKEVER', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']] = data1_df_cp.loc[:, ['CRKEVER', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']].replace(91, 2)

data1_df_cp.loc[:, ['LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']] = data1_df_cp.loc[:, ['LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']].replace(3, 1)

data1_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']] = data1_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']].replace(91, 2)

data1_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']] = data1_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']].replace(3, 1)

data1_df_cp

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
0,15,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,2.0,4.0
1,17,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0
2,14,4,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,4.0,5.0,5.0,5.0,5.0,5.0
6,8,4,2.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,...,2.0,1.0,1.0,2.0,4.0,5.0,5.0,5.0,5.0,5.0
8,14,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,4.0,5.0,5.0,4.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56127,8,4,2.0,3.0,2.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,3.0,2.0,3.0,3.0,4.0,3.0
56129,13,1,2.0,1.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,1.0,1.0,2.0,2.0,4.0,3.0,4.0,4.0,4.0
56130,15,1,2.0,3.0,0.0,2.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0
56131,10,4,2.0,2.0,1.0,3.0,3.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,4.0,4.0,4.0,4.0,4.0,4.0
56132,13,3,2.0,2.0,0.0,4.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,3.0,4.0,4.0,5.0,2.0,5.0

In [196]:
# exporting the data to csv file
data1_df_cp.to_csv("project3_raw_2019.csv", index=False)

# 2018

In [197]:
# Reading in the data
data2_df = pd.read_csv('NSDUH_2018_Tab.csv')
data2_df.head()

,QUESTID2,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP4,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
0,11015143,10/8/19,1,99,99,12,9999,99,1,20,...,3.0,2,2,1,1,2,2,20783.261910,40001,1
1,86325143,10/8/19,2,99,99,991,9991,91,91,91,...,2.0,2,2,3,3,2,2,1095.884074,40004,1
2,35425143,10/8/19,1,99,99,13,9999,99,4,93,...,3.0,2,2,2,2,2,2,374.445005,40017,2
3,98125143,10/8/19,2,99,99,991,9991,91,91,91,...,2.0,2,2,2,2,2,2,2421.263435,40038,2
4,15945143,10/8/19,2,99,99,991,9991,91,91,91,...,2.0,1,2,1,1,2,2,6637.319591,40040,2

In [198]:
data2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56313 entries, 0 to 56312
Columns: 2691 entries, QUESTID2 to VEREP
dtypes: float64(405), int64(2284), object(2)
memory usage: 1.1+ GB

In [199]:
# Extracting the colums required for the project
data2_df = data2_df[['AGE2', 'IRMARIT', 'SERVICE', 'HEALTH', 'MOVSINPYR2', 'SEXATRACT', 'SEXIDENT', 'DIFFTHINK', 'DIFFWALK','DIFFDRESS', 'DIFFERAND', 'IREDUHIGHST2', 'WRKSTATWK2', 'IRWRKSTAT', 'WRKNUMJOB2', 'IRPINC3', 'CIGEVER', 'CIGTRY', 'CIGDLYMO', 'CIG100LF', 'CG30EST', 'ALCEVER', 'ALCREC', 'ALCYRTOT', 'ALCDAYS', 'ALCUS30D', 'MJEVER', 'COCEVER', 'CRKEVER', 'HEREVER', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH', 'AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH', 'METHAMEVR', 'PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF', 'DSTNRV30', 'DSTHOP30', 'DSTRST30', 'DSTCHR30', 'DSTEFF30', 'DSTNGD30']]
data2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56313 entries, 0 to 56312
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AGE2          56313 non-null  int64
 1   IRMARIT       56313 non-null  int64
 2   SERVICE       56313 non-null  int64
 3   HEALTH        56313 non-null  int64
 4   MOVSINPYR2    56313 non-null  int64
 5   SEXATRACT     56313 non-null  int64
 6   SEXIDENT      56313 non-null  int64
 7   DIFFTHINK     56313 non-null  int64
 8   DIFFWALK      56313 non-null  int64
 9   DIFFDRESS     56313 non-null  int64
 10  DIFFERAND     56313 non-null  int64
 11  IREDUHIGHST2  56313 non-null  int64
 12  WRKSTATWK2    56313 non-null  int64
 13  IRWRKSTAT     56313 non-null  int64
 14  WRKNUMJOB2    56313 non-null  int64
 15  IRPINC3       56313 non-null  int64
 16  CIGEVER       56313 non-null  int64
 17  CIGTRY        56313 non-null  int64
 18  CIGDLYMO      56313 non-null  int64
 19  CIG100LF      56313 non-null  int64
 20  CG30EST       56313 non-null  int64
 21  ALCEVER       56313 non-null  int64
 22  ALCREC        56313 non-null  int64
 23  ALCYRTOT      56313 non-null  int64
 24  ALCDAYS       56313 non-null  int64
 25  ALCUS30D      56313 non-null  int64
 26  MJEVER        56313 non-null  int64
 27  COCEVER       56313 non-null  int64
 28  CRKEVER       56313 non-null  int64
 29  HEREVER       56313 non-null  int64
 30  LSD           56313 non-null  int64
 31  PCP           56313 non-null  int64
 32  PEYOTE        56313 non-null  int64
 33  MESC          56313 non-null  int64
 34  PSILCY        56313 non-null  int64
 35  ECSTMOLLY     56313 non-null  int64
 36  KETMINESK     56313 non-null  int64
 37  DMTAMTFXY     56313 non-null  int64
 38  SALVIADIV     56313 non-null  int64
 39  HALLUCOTH     56313 non-null  int64
 40  AMYLNIT       56313 non-null  int64
 41  CLEFLU        56313 non-null  int64
 42  GAS           56313 non-null  int64
 43  GLUE          56313 non-null  int64
 44  ETHER         56313 non-null  int64
 45  SOLVENT       56313 non-null  int64
 46  LGAS          56313 non-null  int64
 47  NITOXID       56313 non-null  int64
 48  FELTMARKR     56313 non-null  int64
 49  SPPAINT       56313 non-null  int64
 50  AIRDUSTER     56313 non-null  int64
 51  OTHAEROS      56313 non-null  int64
 52  INHALOTH      56313 non-null  int64
 53  METHAMEVR     56313 non-null  int64
 54  PNRANYLIF     56313 non-null  int64
 55  TRQANYLIF     56313 non-null  int64
 56  STMANYLIF     56313 non-null  int64
 57  SEDANYLIF     56313 non-null  int64
 58  DSTNRV30      56313 non-null  int64
 59  DSTHOP30      56313 non-null  int64
 60  DSTRST30      56313 non-null  int64
 61  DSTCHR30      56313 non-null  int64
 62  DSTEFF30      56313 non-null  int64
 63  DSTNGD30      56313 non-null  int64
dtypes: int64(64)
memory usage: 27.5 MB

In [200]:
# extracting over 18-years-of-age responses
data2_df = data2_df[data2_df['AGE2'] > 6]
data2_df

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
0,16,1,2,3,0,1,1,2,2,2,...,2,2,2,2,5,5,5,5,5,5
1,12,1,2,3,0,1,1,2,2,2,...,5,2,5,2,4,5,5,5,5,5
2,8,4,2,3,0,3,3,2,2,2,...,5,2,5,2,2,3,3,3,1,4
3,15,3,2,3,2,1,1,1,2,2,...,5,5,2,2,4,5,4,5,5,5
4,15,1,2,3,0,6,1,2,2,2,...,2,2,2,2,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56306,14,4,2,1,0,1,1,2,2,2,...,5,2,2,2,4,5,4,5,5,5
56307,14,4,2,4,0,1,1,2,2,2,...,5,2,2,2,5,5,5,5,5,5
56310,8,4,2,1,1,1,1,2,2,2,...,1,2,2,2,3,5,5,4,4,3
56311,13,4,2,2,1,1,1,2,2,2,...,5,2,2,2,3,3,5,3,2,2
56312,10,4,2,3,997,1,1,2,2,2,...,5,5,2,1,2,1,2,5,5,5

In [201]:
# copying the dataframe for more data cleaning
data2_df_cp = data2_df.copy()

In [202]:
# removing the 85 & 985 (bad data) response from all appropriate columns
data2_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']] = data2_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']].replace(85, 9999)
data2_df_cp = data2_df_cp.replace([85, 985], np.nan)
data2_df_cp = data2_df_cp.dropna()
data2_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']] = data2_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']].replace(9999, 85)
data2_df_cp

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
0,16,1,2.0,3,0.0,1.0,1.0,2.0,2.0,2.0,...,2,2,2,2,5.0,5.0,5.0,5.0,5.0,5.0
1,12,1,2.0,3,0.0,1.0,1.0,2.0,2.0,2.0,...,5,2,5,2,4.0,5.0,5.0,5.0,5.0,5.0
2,8,4,2.0,3,0.0,3.0,3.0,2.0,2.0,2.0,...,5,2,5,2,2.0,3.0,3.0,3.0,1.0,4.0
3,15,3,2.0,3,2.0,1.0,1.0,1.0,2.0,2.0,...,5,5,2,2,4.0,5.0,4.0,5.0,5.0,5.0
4,15,1,2.0,3,0.0,6.0,1.0,2.0,2.0,2.0,...,2,2,2,2,5.0,5.0,5.0,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56306,14,4,2.0,1,0.0,1.0,1.0,2.0,2.0,2.0,...,5,2,2,2,4.0,5.0,4.0,5.0,5.0,5.0
56307,14,4,2.0,4,0.0,1.0,1.0,2.0,2.0,2.0,...,5,2,2,2,5.0,5.0,5.0,5.0,5.0,5.0
56310,8,4,2.0,1,1.0,1.0,1.0,2.0,2.0,2.0,...,1,2,2,2,3.0,5.0,5.0,4.0,4.0,3.0
56311,13,4,2.0,2,1.0,1.0,1.0,2.0,2.0,2.0,...,5,2,2,2,3.0,3.0,5.0,3.0,2.0,2.0
56312,10,4,2.0,3,997.0,1.0,1.0,2.0,2.0,2.0,...,5,5,2,1,2.0,1.0,2.0,5.0,5.0,5.0

In [203]:
# replacing the responses not useable for the project, like 'don't know' or 'refused to respond' with NaN for easy removal of rows
data2_df_cp.loc[:, 'SERVICE'] = data2_df_cp.loc[:, 'SERVICE'].replace(97, np.nan)
data2_df_cp.loc[:, 'HEALTH'] = data2_df_cp.loc[:, 'HEALTH'].replace(97, np.nan)
data2_df_cp.loc[:, 'MOVSINPYR2'] = data2_df_cp.loc[:, 'MOVSINPYR2'].replace([994, 997, 998], np.nan)
data2_df_cp.loc[:, 'DIFFTHINK'] = data2_df_cp.loc[:, 'DIFFTHINK'].replace([94, 97, 98], np.nan)
data2_df_cp.loc[:, 'DIFFWALK'] = data2_df_cp.loc[:, 'DIFFWALK'].replace([94, 97, 98], np.nan)
data2_df_cp.loc[:, 'DIFFDRESS'] = data2_df_cp.loc[:, 'DIFFDRESS'].replace([94, 97, 98], np.nan)
data2_df_cp.loc[:, 'DIFFERAND'] = data2_df_cp.loc[:, 'DIFFERAND'].replace([94, 97, 98, 99], np.nan)
data2_df_cp.loc[:, 'IRMARIT'] = data2_df_cp.loc[:, 'IRMARIT'].replace(99, np.nan)
data2_df_cp.loc[:, 'WRKSTATWK2'] = data2_df_cp.loc[:, 'WRKSTATWK2'].replace([99, 98], np.nan)
data2_df_cp.loc[:, 'WRKNUMJOB2'] = data2_df_cp.loc[:, 'WRKNUMJOB2'].replace([94, 97, 98, 99], np.nan)
data2_df_cp.loc[:, 'IRWRKSTAT'] = data2_df_cp.loc[:, 'IRWRKSTAT'].replace(99, np.nan)

data2_df_cp.loc[:, 'CIGTRY'] = data2_df_cp.loc[:, 'CIGTRY'].replace([994, 997], np.nan)
data2_df_cp.loc[:, 'CIGDLYMO'] = data2_df_cp.loc[:, 'CIGDLYMO'].replace([94, 97, 98], np.nan)
data2_df_cp.loc[:, 'CIG100LF'] = data2_df_cp.loc[:, 'CIG100LF'].replace([94, 97, 98], np.nan)
data2_df_cp.loc[:, 'CG30EST'] = data2_df_cp.loc[:, 'CG30EST'].replace([94, 97, 98, 99], np.nan)

data2_df_cp.loc[:, 'ALCEVER'] = data2_df_cp.loc[:, 'ALCEVER'].replace([98, 97], np.nan)
data2_df_cp.loc[:, 'ALCREC'] = data2_df_cp.loc[:, 'ALCREC'].replace([97, 98], np.nan)
data2_df_cp.loc[:, 'ALCYRTOT'] = data2_df_cp.loc[:, 'ALCYRTOT'].replace([994, 997, 998], np.nan)
data2_df_cp.loc[:, 'ALCDAYS'] = data2_df_cp.loc[:, 'ALCDAYS'].replace([94, 97, 98], np.nan)
data2_df_cp.loc[:, 'ALCUS30D'] = data2_df_cp.loc[:, 'ALCUS30D'].replace([994, 997, 998], np.nan)

data2_df_cp.loc[:, 'MOVSINPYR2'] = data2_df_cp.loc[:, 'MOVSINPYR2'].replace([994, 997, 998], np.nan)
data2_df_cp.loc[:, 'MOVSINPYR2'] = data2_df_cp.loc[:, 'MOVSINPYR2'].replace([994, 997, 998], np.nan)

data2_df_cp.loc[:, 'MJEVER'] = data2_df_cp.loc[:, 'MJEVER'].replace([94, 97], np.nan)
data2_df_cp.loc[:, 'COCEVER'] = data2_df_cp.loc[:, 'COCEVER'].replace([94, 97], np.nan)
data2_df_cp.loc[:, 'CRKEVER'] = data2_df_cp.loc[:, 'CRKEVER'].replace([94, 97, 98], np.nan)
data2_df_cp.loc[:, 'HEREVER'] = data2_df_cp.loc[:, 'HEREVER'].replace([94, 97], np.nan)

data2_df_cp.loc[:, ['LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']] = data2_df_cp.loc[:, ['LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']].replace([94, 97], np.nan)

data2_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']] = data2_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']].replace([94, 97], np.nan)

data2_df_cp.loc[:, 'METHAMEVR'] = data2_df_cp.loc[:, 'METHAMEVR'].replace([94, 97], np.nan)

data2_df_cp.loc[:, ['PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']] = data2_df_cp.loc[:, ['PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']].replace([94, 97, 98], np.nan)

data2_df_cp.loc[:, ['DSTNRV30', 'DSTHOP30', 'DSTRST30', 'DSTCHR30', 'DSTEFF30', 'DSTNGD30']] = data2_df_cp.loc[:, ['DSTNRV30', 'DSTHOP30', 'DSTRST30', 'DSTCHR30', 'DSTEFF30', 'DSTNGD30']].replace([94, 97, 98, 99], np.nan)

In [204]:
data2_df_cp = data2_df_cp.dropna()
data2_df_cp

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
1,12,1,2.0,3.0,0.0,1.0,1.0,2.0,2.0,2.0,...,5.0,2.0,5.0,2.0,4.0,5.0,5.0,5.0,5.0,5.0
2,8,4,2.0,3.0,0.0,3.0,3.0,2.0,2.0,2.0,...,5.0,2.0,5.0,2.0,2.0,3.0,3.0,3.0,1.0,4.0
4,15,1,2.0,3.0,0.0,6.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0
5,12,4,2.0,2.0,3.0,1.0,1.0,2.0,2.0,2.0,...,5.0,2.0,2.0,2.0,3.0,4.0,4.0,5.0,5.0,5.0
7,15,4,2.0,3.0,0.0,2.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,3.0,5.0,5.0,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56298,15,1,2.0,3.0,0.0,1.0,1.0,2.0,2.0,2.0,...,5.0,5.0,2.0,2.0,5.0,5.0,5.0,3.0,4.0,5.0
56301,16,1,1.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,5.0,5.0,2.0,2.0,5.0,5.0,5.0,5.0,4.0,5.0
56304,14,4,2.0,3.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,1.0,1.0,3.0,4.0,3.0,4.0,4.0,4.0
56305,15,4,2.0,3.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,1.0,2.0,2.0,4.0,5.0,5.0,4.0,5.0,4.0
56310,8,4,2.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,3.0,5.0,5.0,4.0,4.0,3.0

In [205]:
data2_df_cp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24575 entries, 1 to 56310
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AGE2          24575 non-null  int64
 1   IRMARIT       24575 non-null  int64
 2   SERVICE       24575 non-null  float64
 3   HEALTH        24575 non-null  float64
 4   MOVSINPYR2    24575 non-null  float64
 5   SEXATRACT     24575 non-null  float64
 6   SEXIDENT      24575 non-null  float64
 7   DIFFTHINK     24575 non-null  float64
 8   DIFFWALK      24575 non-null  float64
 9   DIFFDRESS     24575 non-null  float64
 10  DIFFERAND     24575 non-null  float64
 11  IREDUHIGHST2  24575 non-null  int64
 12  WRKSTATWK2    24575 non-null  float64
 13  IRWRKSTAT     24575 non-null  int64
 14  WRKNUMJOB2    24575 non-null  float64
 15  IRPINC3       24575 non-null  int64
 16  CIGEVER       24575 non-null  int64
 17  CIGTRY        24575 non-null  float64
 18  CIGDLYMO      24575 non-null  float64
 19  CIG100LF      24575 non-null  float64
 20  CG30EST       24575 non-null  float64
 21  ALCEVER       24575 non-null  float64
 22  ALCREC        24575 non-null  float64
 23  ALCYRTOT      24575 non-null  float64
 24  ALCDAYS       24575 non-null  float64
 25  ALCUS30D      24575 non-null  float64
 26  MJEVER        24575 non-null  float64
 27  COCEVER       24575 non-null  float64
 28  CRKEVER       24575 non-null  float64
 29  HEREVER       24575 non-null  float64
 30  LSD           24575 non-null  float64
 31  PCP           24575 non-null  float64
 32  PEYOTE        24575 non-null  float64
 33  MESC          24575 non-null  float64
 34  PSILCY        24575 non-null  float64
 35  ECSTMOLLY     24575 non-null  float64
 36  KETMINESK     24575 non-null  float64
 37  DMTAMTFXY     24575 non-null  float64
 38  SALVIADIV     24575 non-null  float64
 39  HALLUCOTH     24575 non-null  float64
 40  AMYLNIT       24575 non-null  float64
 41  CLEFLU        24575 non-null  float64
 42  GAS           24575 non-null  float64
 43  GLUE          24575 non-null  float64
 44  ETHER         24575 non-null  float64
 45  SOLVENT       24575 non-null  float64
 46  LGAS          24575 non-null  float64
 47  NITOXID       24575 non-null  float64
 48  FELTMARKR     24575 non-null  float64
 49  SPPAINT       24575 non-null  float64
 50  AIRDUSTER     24575 non-null  float64
 51  OTHAEROS      24575 non-null  float64
 52  INHALOTH      24575 non-null  float64
 53  METHAMEVR     24575 non-null  float64
 54  PNRANYLIF     24575 non-null  float64
 55  TRQANYLIF     24575 non-null  float64
 56  STMANYLIF     24575 non-null  float64
 57  SEDANYLIF     24575 non-null  float64
 58  DSTNRV30      24575 non-null  float64
 59  DSTHOP30      24575 non-null  float64
 60  DSTRST30      24575 non-null  float64
 61  DSTCHR30      24575 non-null  float64
 62  DSTEFF30      24575 non-null  float64
 63  DSTNGD30      24575 non-null  float64
dtypes: float64(58), int64(6)
memory usage: 12.2 MB

In [206]:
# Some responses have different numbers but will mean the same in the m achine learning stage so I'm replacing them to be the same number
data2_df_cp.loc[:, 'SEXATRACT'] = data2_df_cp.loc[:, 'SEXATRACT'].replace(94, 6)
data2_df_cp.loc[:, 'SEXATRACT'] = data2_df_cp.loc[:, 'SEXATRACT'].replace([97, 99], 98)
data2_df_cp.loc[:, 'SEXIDENT'] = data2_df_cp.loc[:, 'SEXIDENT'].replace([97, 99], 98)
data2_df_cp.loc[:, ['CIGDLYMO', 'CIG100LF','PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']] = data2_df_cp.loc[:, ['CIGDLYMO', 'CIG100LF', 'PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']].replace(5, 1)
data2_df_cp.loc[:, 'ALCREC'] = data2_df_cp.loc[:, 'ALCREC'].replace(11, 1)
data2_df_cp.loc[:, 'ALCREC'] = data2_df_cp.loc[:, 'ALCREC'].replace(8, 2)
data2_df_cp.loc[:, 'ALCUS30D'] = data2_df_cp.loc[:, 'ALCUS30D'].replace(975, 4)

data2_df_cp.loc[:, ['CRKEVER', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']] = data2_df_cp.loc[:, ['CRKEVER', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']].replace(91, 2)

data2_df_cp.loc[:, ['CIG100LF', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']] = data2_df_cp.loc[:, ['CIG100LF', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']].replace(3, 1)

data2_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']] = data2_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']].replace(91, 2)

data2_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']] = data2_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']].replace(3, 1)

data2_df_cp

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
1,12,1,2.0,3.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,1.0,2.0,4.0,5.0,5.0,5.0,5.0,5.0
2,8,4,2.0,3.0,0.0,3.0,3.0,2.0,2.0,2.0,...,1.0,2.0,1.0,2.0,2.0,3.0,3.0,3.0,1.0,4.0
4,15,1,2.0,3.0,0.0,6.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0
5,12,4,2.0,2.0,3.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,3.0,4.0,4.0,5.0,5.0,5.0
7,15,4,2.0,3.0,0.0,2.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,3.0,5.0,5.0,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56298,15,1,2.0,3.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,1.0,2.0,2.0,5.0,5.0,5.0,3.0,4.0,5.0
56301,16,1,1.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,1.0,2.0,2.0,5.0,5.0,5.0,5.0,4.0,5.0
56304,14,4,2.0,3.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,1.0,1.0,3.0,4.0,3.0,4.0,4.0,4.0
56305,15,4,2.0,3.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,1.0,2.0,2.0,4.0,5.0,5.0,4.0,5.0,4.0
56310,8,4,2.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,3.0,5.0,5.0,4.0,4.0,3.0

In [207]:
# exporting the data to csv file
data2_df_cp.to_csv("project3_raw_2018.csv", index=False)

# 2017

In [208]:
# Reading in the data
data3_df = pd.read_csv('NSDUH_2017_Tab.csv')
data3_df.head()

,QUESTID2,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP4,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
0,55235143,10/9/18,1,99,99,13,9999,99,4,93,...,3.0,2,2,1,1,2,2,11203.888950,40043,1
1,13435143,10/9/18,1,99,99,15,9999,99,1,18,...,3.0,1,2,1,1,2,2,9496.462244,40006,2
2,81345143,10/9/18,1,99,99,14,9999,99,1,10,...,3.0,2,2,1,1,2,2,2943.702802,40030,2
3,53955143,10/9/18,1,99,99,16,9999,99,4,93,...,3.0,2,2,2,2,2,2,1783.702549,40026,2
4,51775143,10/9/18,2,99,99,991,9991,91,91,91,...,3.0,1,1,1,1,2,2,31528.749360,40029,1

In [209]:
data3_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56276 entries, 0 to 56275
Columns: 2668 entries, QUESTID2 to VEREP
dtypes: float64(404), int64(2262), object(2)
memory usage: 1.1+ GB

In [210]:
# Extracting the colums required for the project
data3_df = data3_df[['AGE2', 'IRMARIT', 'SERVICE', 'HEALTH', 'MOVSINPYR2', 'SEXATRACT', 'SEXIDENT', 'DIFFTHINK', 'DIFFWALK','DIFFDRESS', 'DIFFERAND', 'IREDUHIGHST2', 'WRKSTATWK2', 'IRWRKSTAT', 'WRKNUMJOB2', 'IRPINC3', 'CIGEVER', 'CIGTRY', 'CIGDLYMO', 'CIG100LF', 'CG30EST', 'ALCEVER', 'ALCREC', 'ALCYRTOT', 'ALCDAYS', 'ALCUS30D', 'MJEVER', 'COCEVER', 'CRKEVER', 'HEREVER', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH', 'AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH', 'METHAMEVR', 'PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF', 'DSTNRV30', 'DSTHOP30', 'DSTRST30', 'DSTCHR30', 'DSTEFF30', 'DSTNGD30']]
data3_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56276 entries, 0 to 56275
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AGE2          56276 non-null  int64
 1   IRMARIT       56276 non-null  int64
 2   SERVICE       56276 non-null  int64
 3   HEALTH        56276 non-null  int64
 4   MOVSINPYR2    56276 non-null  int64
 5   SEXATRACT     56276 non-null  int64
 6   SEXIDENT      56276 non-null  int64
 7   DIFFTHINK     56276 non-null  int64
 8   DIFFWALK      56276 non-null  int64
 9   DIFFDRESS     56276 non-null  int64
 10  DIFFERAND     56276 non-null  int64
 11  IREDUHIGHST2  56276 non-null  int64
 12  WRKSTATWK2    56276 non-null  int64
 13  IRWRKSTAT     56276 non-null  int64
 14  WRKNUMJOB2    56276 non-null  int64
 15  IRPINC3       56276 non-null  int64
 16  CIGEVER       56276 non-null  int64
 17  CIGTRY        56276 non-null  int64
 18  CIGDLYMO      56276 non-null  int64
 19  CIG100LF      56276 non-null  int64
 20  CG30EST       56276 non-null  int64
 21  ALCEVER       56276 non-null  int64
 22  ALCREC        56276 non-null  int64
 23  ALCYRTOT      56276 non-null  int64
 24  ALCDAYS       56276 non-null  int64
 25  ALCUS30D      56276 non-null  int64
 26  MJEVER        56276 non-null  int64
 27  COCEVER       56276 non-null  int64
 28  CRKEVER       56276 non-null  int64
 29  HEREVER       56276 non-null  int64
 30  LSD           56276 non-null  int64
 31  PCP           56276 non-null  int64
 32  PEYOTE        56276 non-null  int64
 33  MESC          56276 non-null  int64
 34  PSILCY        56276 non-null  int64
 35  ECSTMOLLY     56276 non-null  int64
 36  KETMINESK     56276 non-null  int64
 37  DMTAMTFXY     56276 non-null  int64
 38  SALVIADIV     56276 non-null  int64
 39  HALLUCOTH     56276 non-null  int64
 40  AMYLNIT       56276 non-null  int64
 41  CLEFLU        56276 non-null  int64
 42  GAS           56276 non-null  int64
 43  GLUE          56276 non-null  int64
 44  ETHER         56276 non-null  int64
 45  SOLVENT       56276 non-null  int64
 46  LGAS          56276 non-null  int64
 47  NITOXID       56276 non-null  int64
 48  FELTMARKR     56276 non-null  int64
 49  SPPAINT       56276 non-null  int64
 50  AIRDUSTER     56276 non-null  int64
 51  OTHAEROS      56276 non-null  int64
 52  INHALOTH      56276 non-null  int64
 53  METHAMEVR     56276 non-null  int64
 54  PNRANYLIF     56276 non-null  int64
 55  TRQANYLIF     56276 non-null  int64
 56  STMANYLIF     56276 non-null  int64
 57  SEDANYLIF     56276 non-null  int64
 58  DSTNRV30      56276 non-null  int64
 59  DSTHOP30      56276 non-null  int64
 60  DSTRST30      56276 non-null  int64
 61  DSTCHR30      56276 non-null  int64
 62  DSTEFF30      56276 non-null  int64
 63  DSTNGD30      56276 non-null  int64
dtypes: int64(64)
memory usage: 27.5 MB

In [211]:
# extracting over 18-years-of-age responses
data3_df = data3_df[data3_df['AGE2'] > 6]
data3_df

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
0,17,1,2,1,0,1,1,2,2,2,...,2,2,2,2,4,5,4,5,4,5
1,15,4,2,1,0,1,1,2,2,2,...,1,2,2,5,5,5,5,5,5,5
2,15,1,2,3,0,1,1,2,2,2,...,1,2,2,2,3,5,2,5,5,5
3,15,1,2,2,0,1,1,2,2,2,...,1,2,2,2,5,5,3,5,3,5
4,17,2,2,2,0,1,1,2,1,2,...,2,2,2,2,4,4,5,4,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56270,7,4,2,1,2,2,1,2,2,2,...,2,2,2,2,4,4,5,5,4,4
56271,16,4,2,1,0,1,1,2,2,2,...,2,2,2,2,4,5,5,5,5,5
56272,13,3,2,1,2,1,1,2,2,2,...,2,2,2,2,4,3,3,3,94,2
56274,15,1,2,1,0,1,1,2,2,2,...,1,2,2,2,4,5,4,5,4,5
56275,17,2,2,1,0,1,1,2,2,2,...,2,2,2,2,5,5,5,4,5,5

In [212]:
# copying the dataframe for more data cleaning
data3_df_cp = data3_df.copy()

In [213]:
# removing the 85 & 985 (bad data) response from all appropriate columns
data3_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']] = data3_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']].replace(85, 9999)
data3_df_cp = data3_df_cp.replace([85, 985], np.nan)
data3_df_cp = data3_df_cp.dropna()
data3_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']] = data3_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']].replace(9999, 85)
data3_df_cp

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
0,17,1,2.0,1,0.0,1.0,1.0,2.0,2.0,2.0,...,2,2,2,2,4.0,5.0,4.0,5.0,4.0,5.0
1,15,4,2.0,1,0.0,1.0,1.0,2.0,2.0,2.0,...,1,2,2,5,5.0,5.0,5.0,5.0,5.0,5.0
2,15,1,2.0,3,0.0,1.0,1.0,2.0,2.0,2.0,...,1,2,2,2,3.0,5.0,2.0,5.0,5.0,5.0
3,15,1,2.0,2,0.0,1.0,1.0,2.0,2.0,2.0,...,1,2,2,2,5.0,5.0,3.0,5.0,3.0,5.0
4,17,2,2.0,2,0.0,1.0,1.0,2.0,1.0,2.0,...,2,2,2,2,4.0,4.0,5.0,4.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56270,7,4,2.0,1,2.0,2.0,1.0,2.0,2.0,2.0,...,2,2,2,2,4.0,4.0,5.0,5.0,4.0,4.0
56271,16,4,2.0,1,0.0,1.0,1.0,2.0,2.0,2.0,...,2,2,2,2,4.0,5.0,5.0,5.0,5.0,5.0
56272,13,3,2.0,1,2.0,1.0,1.0,2.0,2.0,2.0,...,2,2,2,2,4.0,3.0,3.0,3.0,94.0,2.0
56274,15,1,2.0,1,0.0,1.0,1.0,2.0,2.0,2.0,...,1,2,2,2,4.0,5.0,4.0,5.0,4.0,5.0
56275,17,2,2.0,1,0.0,1.0,1.0,2.0,2.0,2.0,...,2,2,2,2,5.0,5.0,5.0,4.0,5.0,5.0

In [214]:
# replacing the responses not useable for the project, like 'don't know' or 'refused to respond' with NaN for easy removal of rows
data3_df_cp.loc[:, 'SERVICE'] = data3_df_cp.loc[:, 'SERVICE'].replace(99, np.nan)
data3_df_cp.loc[:, 'HEALTH'] = data3_df_cp.loc[:, 'HEALTH'].replace(97, np.nan)
data3_df_cp.loc[:, 'MOVSINPYR2'] = data3_df_cp.loc[:, 'MOVSINPYR2'].replace([994, 997, 998], np.nan)
data3_df_cp.loc[:, 'DIFFTHINK'] = data3_df_cp.loc[:, 'DIFFTHINK'].replace([94, 97, 98], np.nan)
data3_df_cp.loc[:, 'DIFFWALK'] = data3_df_cp.loc[:, 'DIFFWALK'].replace([94, 97, 98], np.nan)
data3_df_cp.loc[:, 'DIFFDRESS'] = data3_df_cp.loc[:, 'DIFFDRESS'].replace([94, 97, 98], np.nan)
data3_df_cp.loc[:, 'DIFFERAND'] = data3_df_cp.loc[:, 'DIFFERAND'].replace([94, 97, 98, 99], np.nan)
data3_df_cp.loc[:, 'IRMARIT'] = data3_df_cp.loc[:, 'IRMARIT'].replace(99, np.nan)
data3_df_cp.loc[:, 'WRKSTATWK2'] = data3_df_cp.loc[:, 'WRKSTATWK2'].replace([99, 98], np.nan)
data3_df_cp.loc[:, 'WRKNUMJOB2'] = data3_df_cp.loc[:, 'WRKNUMJOB2'].replace([94, 97, 98, 99], np.nan)
data3_df_cp.loc[:, 'IRWRKSTAT'] = data3_df_cp.loc[:, 'IRWRKSTAT'].replace(99, np.nan)

data3_df_cp.loc[:, 'CIGTRY'] = data3_df_cp.loc[:, 'CIGTRY'].replace([994, 997], np.nan)
data3_df_cp.loc[:, 'CIGDLYMO'] = data3_df_cp.loc[:, 'CIGDLYMO'].replace([94, 97, 98], np.nan)
data3_df_cp.loc[:, 'CIG100LF'] = data3_df_cp.loc[:, 'CIG100LF'].replace([94, 97, 98], np.nan)
data3_df_cp.loc[:, 'CG30EST'] = data3_df_cp.loc[:, 'CG30EST'].replace([94, 97, 98, 99], np.nan)

data3_df_cp.loc[:, 'ALCEVER'] = data3_df_cp.loc[:, 'ALCEVER'].replace([94, 97], np.nan)
data3_df_cp.loc[:, 'ALCREC'] = data3_df_cp.loc[:, 'ALCREC'].replace([97, 98], np.nan)
data3_df_cp.loc[:, 'ALCYRTOT'] = data3_df_cp.loc[:, 'ALCYRTOT'].replace([994, 997, 998], np.nan)
data3_df_cp.loc[:, 'ALCDAYS'] = data3_df_cp.loc[:, 'ALCDAYS'].replace([94, 97, 98], np.nan)
data3_df_cp.loc[:, 'ALCUS30D'] = data3_df_cp.loc[:, 'ALCUS30D'].replace([994, 997, 998], np.nan)

data3_df_cp.loc[:, 'MOVSINPYR2'] = data3_df_cp.loc[:, 'MOVSINPYR2'].replace([994, 997, 998], np.nan)
data3_df_cp.loc[:, 'MOVSINPYR2'] = data3_df_cp.loc[:, 'MOVSINPYR2'].replace([994, 997, 998], np.nan)

data3_df_cp.loc[:, 'MJEVER'] = data3_df_cp.loc[:, 'MJEVER'].replace([94, 97], np.nan)
data3_df_cp.loc[:, 'COCEVER'] = data3_df_cp.loc[:, 'COCEVER'].replace([94, 97], np.nan)
data3_df_cp.loc[:, 'CRKEVER'] = data3_df_cp.loc[:, 'CRKEVER'].replace([94, 97, 98], np.nan)
data3_df_cp.loc[:, 'HEREVER'] = data3_df_cp.loc[:, 'HEREVER'].replace([94, 97], np.nan)

data3_df_cp.loc[:, ['LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']] = data3_df_cp.loc[:, ['LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']].replace([94, 97], np.nan)

data3_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']] = data3_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']].replace([94, 97], np.nan)

data3_df_cp.loc[:, 'METHAMEVR'] = data3_df_cp.loc[:, 'METHAMEVR'].replace([94, 97], np.nan)

data3_df_cp.loc[:, ['PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']] = data3_df_cp.loc[:, ['PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']].replace([94, 97, 98], np.nan)

data3_df_cp.loc[:, ['DSTNRV30', 'DSTHOP30', 'DSTRST30', 'DSTCHR30', 'DSTEFF30', 'DSTNGD30']] = data3_df_cp.loc[:, ['DSTNRV30', 'DSTHOP30', 'DSTRST30', 'DSTCHR30', 'DSTEFF30', 'DSTNGD30']].replace([94, 97, 98, 99], np.nan)

In [215]:
data3_df_cp = data3_df_cp.dropna()
data3_df_cp

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
0,17,1,2.0,1.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,4.0,5.0,4.0,5.0,4.0,5.0
3,15,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,5.0,5.0,3.0,5.0,3.0,5.0
6,8,4,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,3.0,5.0,5.0,2.0,5.0,5.0
10,13,4,2.0,3.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,3.0,2.0,5.0,4.0,3.0,4.0
11,8,4,2.0,1.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,3.0,5.0,3.0,5.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56263,8,4,2.0,1.0,3.0,4.0,3.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,4.0,5.0,3.0,5.0,5.0,5.0
56267,15,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,1.0,2.0,2.0,4.0,5.0,3.0,5.0,4.0,5.0
56271,16,4,2.0,1.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,4.0,5.0,5.0,5.0,5.0,5.0
56274,15,1,2.0,1.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,4.0,5.0,4.0,5.0,4.0,5.0
56275,17,2,2.0,1.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,5.0,5.0,5.0,4.0,5.0,5.0

In [216]:
data3_df_cp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23961 entries, 0 to 56275
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AGE2          23961 non-null  int64
 1   IRMARIT       23961 non-null  int64
 2   SERVICE       23961 non-null  float64
 3   HEALTH        23961 non-null  float64
 4   MOVSINPYR2    23961 non-null  float64
 5   SEXATRACT     23961 non-null  float64
 6   SEXIDENT      23961 non-null  float64
 7   DIFFTHINK     23961 non-null  float64
 8   DIFFWALK      23961 non-null  float64
 9   DIFFDRESS     23961 non-null  float64
 10  DIFFERAND     23961 non-null  float64
 11  IREDUHIGHST2  23961 non-null  int64
 12  WRKSTATWK2    23961 non-null  float64
 13  IRWRKSTAT     23961 non-null  int64
 14  WRKNUMJOB2    23961 non-null  float64
 15  IRPINC3       23961 non-null  int64
 16  CIGEVER       23961 non-null  int64
 17  CIGTRY        23961 non-null  float64
 18  CIGDLYMO      23961 non-null  float64
 19  CIG100LF      23961 non-null  float64
 20  CG30EST       23961 non-null  float64
 21  ALCEVER       23961 non-null  float64
 22  ALCREC        23961 non-null  float64
 23  ALCYRTOT      23961 non-null  float64
 24  ALCDAYS       23961 non-null  float64
 25  ALCUS30D      23961 non-null  float64
 26  MJEVER        23961 non-null  float64
 27  COCEVER       23961 non-null  float64
 28  CRKEVER       23961 non-null  float64
 29  HEREVER       23961 non-null  float64
 30  LSD           23961 non-null  float64
 31  PCP           23961 non-null  float64
 32  PEYOTE        23961 non-null  float64
 33  MESC          23961 non-null  float64
 34  PSILCY        23961 non-null  float64
 35  ECSTMOLLY     23961 non-null  float64
 36  KETMINESK     23961 non-null  float64
 37  DMTAMTFXY     23961 non-null  float64
 38  SALVIADIV     23961 non-null  float64
 39  HALLUCOTH     23961 non-null  float64
 40  AMYLNIT       23961 non-null  float64
 41  CLEFLU        23961 non-null  float64
 42  GAS           23961 non-null  float64
 43  GLUE          23961 non-null  float64
 44  ETHER         23961 non-null  float64
 45  SOLVENT       23961 non-null  float64
 46  LGAS          23961 non-null  float64
 47  NITOXID       23961 non-null  float64
 48  FELTMARKR     23961 non-null  float64
 49  SPPAINT       23961 non-null  float64
 50  AIRDUSTER     23961 non-null  float64
 51  OTHAEROS      23961 non-null  float64
 52  INHALOTH      23961 non-null  float64
 53  METHAMEVR     23961 non-null  float64
 54  PNRANYLIF     23961 non-null  float64
 55  TRQANYLIF     23961 non-null  float64
 56  STMANYLIF     23961 non-null  float64
 57  SEDANYLIF     23961 non-null  float64
 58  DSTNRV30      23961 non-null  float64
 59  DSTHOP30      23961 non-null  float64
 60  DSTRST30      23961 non-null  float64
 61  DSTCHR30      23961 non-null  float64
 62  DSTEFF30      23961 non-null  float64
 63  DSTNGD30      23961 non-null  float64
dtypes: float64(58), int64(6)
memory usage: 11.9 MB

In [217]:
# Some responses have different numbers but will mean the same in the m achine learning stage so I'm replacing them to be the same number
data3_df_cp.loc[:, 'SEXATRACT'] = data3_df_cp.loc[:, 'SEXATRACT'].replace(94, 6)
data3_df_cp.loc[:, 'SEXATRACT'] = data3_df_cp.loc[:, 'SEXATRACT'].replace([97, 99], 98)
data3_df_cp.loc[:, 'SEXIDENT'] = data3_df_cp.loc[:, 'SEXIDENT'].replace([97, 99], 98)
data3_df_cp.loc[:, ['CIGDLYMO', 'CIG100LF','PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']] = data3_df_cp.loc[:, ['CIGDLYMO', 'CIG100LF', 'PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']].replace(5, 1)
data3_df_cp.loc[:, 'ALCREC'] = data3_df_cp.loc[:, 'ALCREC'].replace(11, 1)
data3_df_cp.loc[:, 'ALCREC'] = data3_df_cp.loc[:, 'ALCREC'].replace(8, 2)
data3_df_cp.loc[:, 'ALCUS30D'] = data3_df_cp.loc[:, 'ALCUS30D'].replace(975, 4)

data3_df_cp.loc[:, ['CRKEVER', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']] = data3_df_cp.loc[:, ['CRKEVER', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']].replace(91, 2)

data3_df_cp.loc[:, ['CIG100LF', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']] = data3_df_cp.loc[:, ['CIG100LF', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']].replace(3, 1)

data3_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']] = data3_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']].replace(91, 2)

data3_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']] = data3_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']].replace(3, 1)

data3_df_cp

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
0,17,1,2.0,1.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,4.0,5.0,4.0,5.0,4.0,5.0
3,15,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,5.0,5.0,3.0,5.0,3.0,5.0
6,8,4,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,3.0,5.0,5.0,2.0,5.0,5.0
10,13,4,2.0,3.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,3.0,2.0,5.0,4.0,3.0,4.0
11,8,4,2.0,1.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,3.0,5.0,3.0,5.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56263,8,4,2.0,1.0,3.0,4.0,3.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,4.0,5.0,3.0,5.0,5.0,5.0
56267,15,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,1.0,2.0,2.0,4.0,5.0,3.0,5.0,4.0,5.0
56271,16,4,2.0,1.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,4.0,5.0,5.0,5.0,5.0,5.0
56274,15,1,2.0,1.0,0.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,4.0,5.0,4.0,5.0,4.0,5.0
56275,17,2,2.0,1.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,5.0,5.0,5.0,4.0,5.0,5.0

In [218]:
# exporting the data to csv file
data3_df_cp.to_csv("project3_raw_2017.csv", index=False)

# 2016

In [219]:
# Reading in the data
data4_df = pd.read_csv('NSDUH_2016_Tab.csv')
data4_df.head()

,QUESTID2,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP4,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
0,11635143,02/28/2018,1,99,99,16,9999,99,4,93,...,3.0,2,2,3,3,2,2,819.434247,40037,2
1,36845143,02/28/2018,1,99,99,15,9999,99,1,7,...,3.0,1,2,2,2,2,2,280.624351,40013,2
2,35755143,02/28/2018,1,99,99,26,9999,99,1,7,...,2.0,2,2,1,1,2,2,10133.833580,40036,2
3,94475143,02/28/2018,2,4,4,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,2284.717175,40028,1
4,92675143,02/28/2018,1,99,99,5,9999,99,4,93,...,3.0,2,2,1,1,2,2,24815.892370,40009,2

In [220]:
data4_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56897 entries, 0 to 56896
Columns: 2668 entries, QUESTID2 to VEREP
dtypes: float64(407), int64(2259), object(2)
memory usage: 1.1+ GB

In [221]:
# Extracting the colums required for the project
data4_df = data4_df[['AGE2', 'IRMARIT', 'SERVICE', 'HEALTH', 'MOVSINPYR2', 'SEXATRACT', 'SEXIDENT', 'DIFFTHINK', 'DIFFWALK','DIFFDRESS', 'DIFFERAND', 'IREDUHIGHST2', 'WRKSTATWK2', 'IRWRKSTAT', 'WRKNUMJOB2', 'IRPINC3', 'CIGEVER', 'CIGTRY', 'CIGDLYMO', 'CIG100LF', 'CG30EST', 'ALCEVER', 'ALCREC', 'ALCYRTOT', 'ALCDAYS', 'ALCUS30D', 'MJEVER', 'COCEVER', 'CRKEVER', 'HEREVER', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH', 'AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH', 'METHAMEVR', 'PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF', 'DSTNRV30', 'DSTHOP30', 'DSTRST30', 'DSTCHR30', 'DSTEFF30', 'DSTNGD30']]
data4_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56897 entries, 0 to 56896
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AGE2          56897 non-null  int64
 1   IRMARIT       56897 non-null  int64
 2   SERVICE       56897 non-null  int64
 3   HEALTH        56897 non-null  int64
 4   MOVSINPYR2    56897 non-null  int64
 5   SEXATRACT     56897 non-null  int64
 6   SEXIDENT      56897 non-null  int64
 7   DIFFTHINK     56897 non-null  int64
 8   DIFFWALK      56897 non-null  int64
 9   DIFFDRESS     56897 non-null  int64
 10  DIFFERAND     56897 non-null  int64
 11  IREDUHIGHST2  56897 non-null  int64
 12  WRKSTATWK2    56897 non-null  int64
 13  IRWRKSTAT     56897 non-null  int64
 14  WRKNUMJOB2    56897 non-null  int64
 15  IRPINC3       56897 non-null  int64
 16  CIGEVER       56897 non-null  int64
 17  CIGTRY        56897 non-null  int64
 18  CIGDLYMO      56897 non-null  int64
 19  CIG100LF      56897 non-null  int64
 20  CG30EST       56897 non-null  int64
 21  ALCEVER       56897 non-null  int64
 22  ALCREC        56897 non-null  int64
 23  ALCYRTOT      56897 non-null  int64
 24  ALCDAYS       56897 non-null  int64
 25  ALCUS30D      56897 non-null  int64
 26  MJEVER        56897 non-null  int64
 27  COCEVER       56897 non-null  int64
 28  CRKEVER       56897 non-null  int64
 29  HEREVER       56897 non-null  int64
 30  LSD           56897 non-null  int64
 31  PCP           56897 non-null  int64
 32  PEYOTE        56897 non-null  int64
 33  MESC          56897 non-null  int64
 34  PSILCY        56897 non-null  int64
 35  ECSTMOLLY     56897 non-null  int64
 36  KETMINESK     56897 non-null  int64
 37  DMTAMTFXY     56897 non-null  int64
 38  SALVIADIV     56897 non-null  int64
 39  HALLUCOTH     56897 non-null  int64
 40  AMYLNIT       56897 non-null  int64
 41  CLEFLU        56897 non-null  int64
 42  GAS           56897 non-null  int64
 43  GLUE          56897 non-null  int64
 44  ETHER         56897 non-null  int64
 45  SOLVENT       56897 non-null  int64
 46  LGAS          56897 non-null  int64
 47  NITOXID       56897 non-null  int64
 48  FELTMARKR     56897 non-null  int64
 49  SPPAINT       56897 non-null  int64
 50  AIRDUSTER     56897 non-null  int64
 51  OTHAEROS      56897 non-null  int64
 52  INHALOTH      56897 non-null  int64
 53  METHAMEVR     56897 non-null  int64
 54  PNRANYLIF     56897 non-null  int64
 55  TRQANYLIF     56897 non-null  int64
 56  STMANYLIF     56897 non-null  int64
 57  SEDANYLIF     56897 non-null  int64
 58  DSTNRV30      56897 non-null  int64
 59  DSTHOP30      56897 non-null  int64
 60  DSTRST30      56897 non-null  int64
 61  DSTCHR30      56897 non-null  int64
 62  DSTEFF30      56897 non-null  int64
 63  DSTNGD30      56897 non-null  int64
dtypes: int64(64)
memory usage: 27.8 MB

In [222]:
# extracting over 18-years-of-age responses
data4_df = data4_df[data4_df['AGE2'] > 6]
data4_df

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
0,14,1,2,1,0,1,1,2,2,2,...,1,2,2,2,4,5,3,5,4,5
1,11,4,2,3,3,3,3,2,2,2,...,5,5,5,5,2,2,3,2,1,2
2,15,1,2,1,0,1,1,2,2,2,...,2,2,2,2,5,5,5,5,5,5
4,17,1,2,2,0,1,1,2,2,2,...,1,1,2,2,5,4,5,5,4,4
5,13,1,2,2,1,6,1,2,2,2,...,2,2,2,2,5,5,5,5,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56890,15,1,2,1,0,1,1,2,2,2,...,1,2,2,2,4,5,5,5,5,5
56891,16,1,2,4,0,1,97,2,2,2,...,2,2,2,2,5,5,5,5,5,5
56893,11,4,2,2,0,1,1,2,2,2,...,5,5,2,2,5,5,4,5,4,5
56894,15,1,2,2,0,1,1,2,2,2,...,1,1,2,2,5,5,5,5,5,4
56895,16,3,2,2,0,2,1,2,2,2,...,5,5,2,2,3,5,3,5,4,5

In [223]:
# copying the dataframe for more data cleaning
data4_df_cp = data4_df.copy()

In [224]:
# removing the 85 & 985 (bad data) response from all appropriate columns
data4_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']] = data4_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']].replace(85, 9999)
data4_df_cp = data4_df_cp.replace([85, 985], np.nan)
data4_df_cp = data4_df_cp.dropna()
data4_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']] = data4_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']].replace(9999, 85)
data4_df_cp

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
0,14,1,2.0,1,0.0,1,1,2,2,2,...,1,2,2,2,4.0,5.0,3.0,5.0,4.0,5.0
1,11,4,2.0,3,3.0,3,3,2,2,2,...,5,5,5,5,2.0,2.0,3.0,2.0,1.0,2.0
2,15,1,2.0,1,0.0,1,1,2,2,2,...,2,2,2,2,5.0,5.0,5.0,5.0,5.0,5.0
4,17,1,2.0,2,0.0,1,1,2,2,2,...,1,1,2,2,5.0,4.0,5.0,5.0,4.0,4.0
5,13,1,2.0,2,1.0,6,1,2,2,2,...,2,2,2,2,5.0,5.0,5.0,5.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56890,15,1,2.0,1,0.0,1,1,2,2,2,...,1,2,2,2,4.0,5.0,5.0,5.0,5.0,5.0
56891,16,1,2.0,4,0.0,1,97,2,2,2,...,2,2,2,2,5.0,5.0,5.0,5.0,5.0,5.0
56893,11,4,2.0,2,0.0,1,1,2,2,2,...,5,5,2,2,5.0,5.0,4.0,5.0,4.0,5.0
56894,15,1,2.0,2,0.0,1,1,2,2,2,...,1,1,2,2,5.0,5.0,5.0,5.0,5.0,4.0
56895,16,3,2.0,2,0.0,2,1,2,2,2,...,5,5,2,2,3.0,5.0,3.0,5.0,4.0,5.0

In [225]:
# replacing the responses not useable for the project, like 'don't know' or 'refused to respond' with NaN for easy removal of rows
data4_df_cp.loc[:, 'SERVICE'] = data4_df_cp.loc[:, 'SERVICE'].replace([94, 97], np.nan)
data4_df_cp.loc[:, 'HEALTH'] = data4_df_cp.loc[:, 'HEALTH'].replace(97, np.nan)
data4_df_cp.loc[:, 'MOVSINPYR2'] = data4_df_cp.loc[:, 'MOVSINPYR2'].replace([994, 997, 998], np.nan)
data4_df_cp.loc[:, 'DIFFTHINK'] = data4_df_cp.loc[:, 'DIFFTHINK'].replace([94, 97, 98], np.nan)
data4_df_cp.loc[:, 'DIFFWALK'] = data4_df_cp.loc[:, 'DIFFWALK'].replace([94, 97, 98], np.nan)
data4_df_cp.loc[:, 'DIFFDRESS'] = data4_df_cp.loc[:, 'DIFFDRESS'].replace([94, 97, 98], np.nan)
data4_df_cp.loc[:, 'DIFFERAND'] = data4_df_cp.loc[:, 'DIFFERAND'].replace([94, 97, 98, 99], np.nan)
data4_df_cp.loc[:, 'IRMARIT'] = data4_df_cp.loc[:, 'IRMARIT'].replace(99, np.nan)
data4_df_cp.loc[:, 'WRKSTATWK2'] = data4_df_cp.loc[:, 'WRKSTATWK2'].replace([99, 98], np.nan)
data4_df_cp.loc[:, 'WRKNUMJOB2'] = data4_df_cp.loc[:, 'WRKNUMJOB2'].replace([94, 97, 98, 99], np.nan)
data4_df_cp.loc[:, 'IRWRKSTAT'] = data4_df_cp.loc[:, 'IRWRKSTAT'].replace(99, np.nan)

data4_df_cp.loc[:, 'CIGTRY'] = data4_df_cp.loc[:, 'CIGTRY'].replace([994, 997], np.nan)
data4_df_cp.loc[:, 'CIGDLYMO'] = data4_df_cp.loc[:, 'CIGDLYMO'].replace([94, 97, 98], np.nan)
data4_df_cp.loc[:, 'CIG100LF'] = data4_df_cp.loc[:, 'CIG100LF'].replace([94, 97, 98], np.nan)
data4_df_cp.loc[:, 'CG30EST'] = data4_df_cp.loc[:, 'CG30EST'].replace([94, 97, 98, 99], np.nan)

data4_df_cp.loc[:, 'ALCEVER'] = data4_df_cp.loc[:, 'ALCEVER'].replace([98, 97], np.nan)
data4_df_cp.loc[:, 'ALCREC'] = data4_df_cp.loc[:, 'ALCREC'].replace([97, 98], np.nan)
data4_df_cp.loc[:, 'ALCYRTOT'] = data4_df_cp.loc[:, 'ALCYRTOT'].replace([994, 997, 998], np.nan)
data4_df_cp.loc[:, 'ALCDAYS'] = data4_df_cp.loc[:, 'ALCDAYS'].replace([94, 97, 98], np.nan)
data4_df_cp.loc[:, 'ALCUS30D'] = data4_df_cp.loc[:, 'ALCUS30D'].replace([994, 997, 998], np.nan)

data4_df_cp.loc[:, 'MOVSINPYR2'] = data4_df_cp.loc[:, 'MOVSINPYR2'].replace([994, 997, 998], np.nan)
data4_df_cp.loc[:, 'MOVSINPYR2'] = data4_df_cp.loc[:, 'MOVSINPYR2'].replace([994, 997, 998], np.nan)

data4_df_cp.loc[:, 'MJEVER'] = data4_df_cp.loc[:, 'MJEVER'].replace([94, 97], np.nan)
data4_df_cp.loc[:, 'COCEVER'] = data4_df_cp.loc[:, 'COCEVER'].replace([94, 97], np.nan)
data4_df_cp.loc[:, 'CRKEVER'] = data4_df_cp.loc[:, 'CRKEVER'].replace([94, 97, 98], np.nan)
data4_df_cp.loc[:, 'HEREVER'] = data4_df_cp.loc[:, 'HEREVER'].replace([94, 97], np.nan)

data4_df_cp.loc[:, ['LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']] = data4_df_cp.loc[:, ['LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']].replace([94, 97], np.nan)

data4_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']] = data4_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']].replace([94, 97], np.nan)

data4_df_cp.loc[:, 'METHAMEVR'] = data4_df_cp.loc[:, 'METHAMEVR'].replace([94, 97], np.nan)

data4_df_cp.loc[:, ['PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']] = data4_df_cp.loc[:, ['PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']].replace([94, 97, 98], np.nan)

data4_df_cp.loc[:, ['DSTNRV30', 'DSTHOP30', 'DSTRST30', 'DSTCHR30', 'DSTEFF30', 'DSTNGD30']] = data4_df_cp.loc[:, ['DSTNRV30', 'DSTHOP30', 'DSTRST30', 'DSTCHR30', 'DSTEFF30', 'DSTNGD30']].replace([94, 97, 98, 99], np.nan)

In [226]:
data4_df_cp = data4_df_cp.dropna()
data4_df_cp

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
4,17,1,2.0,2.0,0.0,1,1,2.0,2.0,2.0,...,1.0,1.0,2.0,2.0,5.0,4.0,5.0,5.0,4.0,4.0
7,15,1,2.0,2.0,0.0,1,1,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,4.0,5.0
9,7,4,2.0,1.0,1.0,1,1,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,4.0,5.0
13,15,1,2.0,2.0,0.0,1,1,1.0,2.0,2.0,...,2.0,2.0,2.0,2.0,1.0,4.0,2.0,3.0,2.0,4.0
15,13,1,2.0,2.0,0.0,1,1,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,4.0,5.0,5.0,5.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56886,15,1,2.0,2.0,0.0,1,1,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0
56889,13,4,2.0,5.0,0.0,1,1,1.0,1.0,2.0,...,5.0,5.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0
56890,15,1,2.0,1.0,0.0,1,1,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,4.0,5.0,5.0,5.0,5.0,5.0
56894,15,1,2.0,2.0,0.0,1,1,2.0,2.0,2.0,...,1.0,1.0,2.0,2.0,5.0,5.0,5.0,5.0,5.0,4.0
56895,16,3,2.0,2.0,0.0,2,1,2.0,2.0,2.0,...,5.0,5.0,2.0,2.0,3.0,5.0,3.0,5.0,4.0,5.0

In [227]:
data4_df_cp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23613 entries, 4 to 56895
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AGE2          23613 non-null  int64
 1   IRMARIT       23613 non-null  int64
 2   SERVICE       23613 non-null  float64
 3   HEALTH        23613 non-null  float64
 4   MOVSINPYR2    23613 non-null  float64
 5   SEXATRACT     23613 non-null  int64
 6   SEXIDENT      23613 non-null  int64
 7   DIFFTHINK     23613 non-null  float64
 8   DIFFWALK      23613 non-null  float64
 9   DIFFDRESS     23613 non-null  float64
 10  DIFFERAND     23613 non-null  float64
 11  IREDUHIGHST2  23613 non-null  int64
 12  WRKSTATWK2    23613 non-null  float64
 13  IRWRKSTAT     23613 non-null  int64
 14  WRKNUMJOB2    23613 non-null  float64
 15  IRPINC3       23613 non-null  int64
 16  CIGEVER       23613 non-null  int64
 17  CIGTRY        23613 non-null  float64
 18  CIGDLYMO      23613 non-null  float64
 19  CIG100LF      23613 non-null  float64
 20  CG30EST       23613 non-null  float64
 21  ALCEVER       23613 non-null  float64
 22  ALCREC        23613 non-null  float64
 23  ALCYRTOT      23613 non-null  float64
 24  ALCDAYS       23613 non-null  float64
 25  ALCUS30D      23613 non-null  float64
 26  MJEVER        23613 non-null  float64
 27  COCEVER       23613 non-null  float64
 28  CRKEVER       23613 non-null  float64
 29  HEREVER       23613 non-null  float64
 30  LSD           23613 non-null  float64
 31  PCP           23613 non-null  float64
 32  PEYOTE        23613 non-null  float64
 33  MESC          23613 non-null  float64
 34  PSILCY        23613 non-null  float64
 35  ECSTMOLLY     23613 non-null  float64
 36  KETMINESK     23613 non-null  float64
 37  DMTAMTFXY     23613 non-null  float64
 38  SALVIADIV     23613 non-null  float64
 39  HALLUCOTH     23613 non-null  float64
 40  AMYLNIT       23613 non-null  float64
 41  CLEFLU        23613 non-null  float64
 42  GAS           23613 non-null  float64
 43  GLUE          23613 non-null  float64
 44  ETHER         23613 non-null  float64
 45  SOLVENT       23613 non-null  float64
 46  LGAS          23613 non-null  float64
 47  NITOXID       23613 non-null  float64
 48  FELTMARKR     23613 non-null  float64
 49  SPPAINT       23613 non-null  float64
 50  AIRDUSTER     23613 non-null  float64
 51  OTHAEROS      23613 non-null  float64
 52  INHALOTH      23613 non-null  float64
 53  METHAMEVR     23613 non-null  float64
 54  PNRANYLIF     23613 non-null  float64
 55  TRQANYLIF     23613 non-null  float64
 56  STMANYLIF     23613 non-null  float64
 57  SEDANYLIF     23613 non-null  float64
 58  DSTNRV30      23613 non-null  float64
 59  DSTHOP30      23613 non-null  float64
 60  DSTRST30      23613 non-null  float64
 61  DSTCHR30      23613 non-null  float64
 62  DSTEFF30      23613 non-null  float64
 63  DSTNGD30      23613 non-null  float64
dtypes: float64(56), int64(8)
memory usage: 11.7 MB

In [229]:
# Some responses have different numbers but will mean the same in the m achine learning stage so I'm replacing them to be the same number
data4_df_cp.loc[:, 'SEXATRACT'] = data4_df_cp.loc[:, 'SEXATRACT'].replace(94, 6)
data4_df_cp.loc[:, 'SEXATRACT'] = data4_df_cp.loc[:, 'SEXATRACT'].replace([97, 99], 98)
data4_df_cp.loc[:, 'SEXIDENT'] = data4_df_cp.loc[:, 'SEXIDENT'].replace([97, 99], 98)
data4_df_cp.loc[:, ['CIGDLYMO', 'CIG100LF','PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']] = data4_df_cp.loc[:, ['CIGDLYMO', 'CIG100LF', 'PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']].replace(5, 1)
data4_df_cp.loc[:, 'ALCREC'] = data4_df_cp.loc[:, 'ALCREC'].replace(11, 1)
data4_df_cp.loc[:, 'ALCREC'] = data4_df_cp.loc[:, 'ALCREC'].replace(8, 2)
data4_df_cp.loc[:, 'ALCUS30D'] = data4_df_cp.loc[:, 'ALCUS30D'].replace(975, 4)
data4_df_cp.loc[:, 'SERVICE'] = data4_df_cp.loc[:, 'SERVICE'].replace(89, 99)
data4_df_cp.loc[:, 'SEXATRACT'] = data4_df_cp.loc[:, 'SEXATRACT'].replace(89, 99)
data4_df_cp.loc[:, 'SEXIDENT'] = data4_df_cp.loc[:, 'SEXIDENT'].replace(89, 99)

data4_df_cp.loc[:, ['CRKEVER', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']] = data4_df_cp.loc[:, ['CRKEVER', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']].replace(91, 2)

data4_df_cp.loc[:, ['CIG100LF', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']] = data4_df_cp.loc[:, ['CIG100LF', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']].replace(3, 1)

data4_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']] = data4_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']].replace(91, 2)

data4_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']] = data4_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']].replace(3, 1)

data4_df_cp

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
4,17,1,2.0,2.0,0.0,1,1,2.0,2.0,2.0,...,1.0,1.0,2.0,2.0,5.0,4.0,5.0,5.0,4.0,4.0
7,15,1,2.0,2.0,0.0,1,1,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,4.0,5.0
9,7,4,2.0,1.0,1.0,1,1,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,4.0,5.0
13,15,1,2.0,2.0,0.0,1,1,1.0,2.0,2.0,...,2.0,2.0,2.0,2.0,1.0,4.0,2.0,3.0,2.0,4.0
15,13,1,2.0,2.0,0.0,1,1,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,4.0,5.0,5.0,5.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56886,15,1,2.0,2.0,0.0,1,1,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0
56889,13,4,2.0,5.0,0.0,1,1,1.0,1.0,2.0,...,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0
56890,15,1,2.0,1.0,0.0,1,1,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,4.0,5.0,5.0,5.0,5.0,5.0
56894,15,1,2.0,2.0,0.0,1,1,2.0,2.0,2.0,...,1.0,1.0,2.0,2.0,5.0,5.0,5.0,5.0,5.0,4.0
56895,16,3,2.0,2.0,0.0,2,1,2.0,2.0,2.0,...,1.0,1.0,2.0,2.0,3.0,5.0,3.0,5.0,4.0,5.0

In [230]:
# exporting the data to csv file
data4_df_cp.to_csv("project3_raw_2016.csv", index=False)

# 2015

In [231]:
# Reading in the data
data5_df = pd.read_csv('NSDUH_2015_Tab.csv')
data5_df.head()

,QUESTID2,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP4,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
0,25095143,02/15/2018,1,99,99,16,2014,1,2,93,...,1.0,2,2,3,3,2,2,1088.413235,40028,1
1,13005143,02/15/2018,1,99,99,15,9999,99,3,93,...,2.0,1,2,2,2,2,2,4423.360328,40025,1
2,67415143,02/15/2018,2,99,99,991,9991,91,91,91,...,1.0,2,2,2,3,2,2,328.111801,40004,2
3,70925143,02/15/2018,2,3,4,991,9991,91,91,91,...,3.0,2,2,2,2,2,2,235.290450,40027,1
4,75235143,02/15/2018,1,99,99,17,9999,99,1,22,...,1.0,2,2,3,3,2,2,2280.878615,40011,1

In [232]:
data5_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57146 entries, 0 to 57145
Columns: 2679 entries, QUESTID2 to VEREP
dtypes: float64(406), int64(2271), object(2)
memory usage: 1.1+ GB

In [234]:
# Extracting the colums required for the project
data5_df = data5_df[['AGE2', 'IRMARITSTAT', 'SERVICE', 'HEALTH', 'MOVSINPYR2', 'SEXATRACT', 'SEXIDENT', 'DIFFTHINK', 'DIFFWALK','DIFFDRESS', 'DIFFERAND', 'IREDUHIGHST2', 'WRKSTATWK2', 'IRWRKSTAT', 'WRKNUMJOB2', 'IRPINC3', 'CIGEVER', 'CIGTRY', 'CIGDLYMO', 'CIG100LF', 'CG30EST', 'ALCEVER', 'ALCREC', 'ALCYRTOT', 'ALCDAYS', 'ALCUS30D', 'MJEVER', 'COCEVER', 'CRKEVER', 'HEREVER', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH', 'AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH', 'METHAMEVR', 'PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF', 'DSTNRV30', 'DSTHOP30', 'DSTRST30', 'DSTCHR30', 'DSTEFF30', 'DSTNGD30']]
data5_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57146 entries, 0 to 57145
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AGE2          57146 non-null  int64
 1   IRMARITSTAT   57146 non-null  int64
 2   SERVICE       57146 non-null  int64
 3   HEALTH        57146 non-null  int64
 4   MOVSINPYR2    57146 non-null  int64
 5   SEXATRACT     57146 non-null  int64
 6   SEXIDENT      57146 non-null  int64
 7   DIFFTHINK     57146 non-null  int64
 8   DIFFWALK      57146 non-null  int64
 9   DIFFDRESS     57146 non-null  int64
 10  DIFFERAND     57146 non-null  int64
 11  IREDUHIGHST2  57146 non-null  int64
 12  WRKSTATWK2    57146 non-null  int64
 13  IRWRKSTAT     57146 non-null  int64
 14  WRKNUMJOB2    57146 non-null  int64
 15  IRPINC3       57146 non-null  int64
 16  CIGEVER       57146 non-null  int64
 17  CIGTRY        57146 non-null  int64
 18  CIGDLYMO      57146 non-null  int64
 19  CIG100LF      57146 non-null  int64
 20  CG30EST       57146 non-null  int64
 21  ALCEVER       57146 non-null  int64
 22  ALCREC        57146 non-null  int64
 23  ALCYRTOT      57146 non-null  int64
 24  ALCDAYS       57146 non-null  int64
 25  ALCUS30D      57146 non-null  int64
 26  MJEVER        57146 non-null  int64
 27  COCEVER       57146 non-null  int64
 28  CRKEVER       57146 non-null  int64
 29  HEREVER       57146 non-null  int64
 30  LSD           57146 non-null  int64
 31  PCP           57146 non-null  int64
 32  PEYOTE        57146 non-null  int64
 33  MESC          57146 non-null  int64
 34  PSILCY        57146 non-null  int64
 35  ECSTMOLLY     57146 non-null  int64
 36  KETMINESK     57146 non-null  int64
 37  DMTAMTFXY     57146 non-null  int64
 38  SALVIADIV     57146 non-null  int64
 39  HALLUCOTH     57146 non-null  int64
 40  AMYLNIT       57146 non-null  int64
 41  CLEFLU        57146 non-null  int64
 42  GAS           57146 non-null  int64
 43  GLUE          57146 non-null  int64
 44  ETHER         57146 non-null  int64
 45  SOLVENT       57146 non-null  int64
 46  LGAS          57146 non-null  int64
 47  NITOXID       57146 non-null  int64
 48  FELTMARKR     57146 non-null  int64
 49  SPPAINT       57146 non-null  int64
 50  AIRDUSTER     57146 non-null  int64
 51  OTHAEROS      57146 non-null  int64
 52  INHALOTH      57146 non-null  int64
 53  METHAMEVR     57146 non-null  int64
 54  PNRANYLIF     57146 non-null  int64
 55  TRQANYLIF     57146 non-null  int64
 56  STMANYLIF     57146 non-null  int64
 57  SEDANYLIF     57146 non-null  int64
 58  DSTNRV30      57146 non-null  int64
 59  DSTHOP30      57146 non-null  int64
 60  DSTRST30      57146 non-null  int64
 61  DSTCHR30      57146 non-null  int64
 62  DSTEFF30      57146 non-null  int64
 63  DSTNGD30      57146 non-null  int64
dtypes: int64(64)
memory usage: 27.9 MB

In [235]:
data5_df = data5_df.rename(columns={'IRMARITSTAT': 'IRMARIT'})
data5_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57146 entries, 0 to 57145
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AGE2          57146 non-null  int64
 1   IRMARIT       57146 non-null  int64
 2   SERVICE       57146 non-null  int64
 3   HEALTH        57146 non-null  int64
 4   MOVSINPYR2    57146 non-null  int64
 5   SEXATRACT     57146 non-null  int64
 6   SEXIDENT      57146 non-null  int64
 7   DIFFTHINK     57146 non-null  int64
 8   DIFFWALK      57146 non-null  int64
 9   DIFFDRESS     57146 non-null  int64
 10  DIFFERAND     57146 non-null  int64
 11  IREDUHIGHST2  57146 non-null  int64
 12  WRKSTATWK2    57146 non-null  int64
 13  IRWRKSTAT     57146 non-null  int64
 14  WRKNUMJOB2    57146 non-null  int64
 15  IRPINC3       57146 non-null  int64
 16  CIGEVER       57146 non-null  int64
 17  CIGTRY        57146 non-null  int64
 18  CIGDLYMO      57146 non-null  int64
 19  CIG100LF      57146 non-null  int64
 20  CG30EST       57146 non-null  int64
 21  ALCEVER       57146 non-null  int64
 22  ALCREC        57146 non-null  int64
 23  ALCYRTOT      57146 non-null  int64
 24  ALCDAYS       57146 non-null  int64
 25  ALCUS30D      57146 non-null  int64
 26  MJEVER        57146 non-null  int64
 27  COCEVER       57146 non-null  int64
 28  CRKEVER       57146 non-null  int64
 29  HEREVER       57146 non-null  int64
 30  LSD           57146 non-null  int64
 31  PCP           57146 non-null  int64
 32  PEYOTE        57146 non-null  int64
 33  MESC          57146 non-null  int64
 34  PSILCY        57146 non-null  int64
 35  ECSTMOLLY     57146 non-null  int64
 36  KETMINESK     57146 non-null  int64
 37  DMTAMTFXY     57146 non-null  int64
 38  SALVIADIV     57146 non-null  int64
 39  HALLUCOTH     57146 non-null  int64
 40  AMYLNIT       57146 non-null  int64
 41  CLEFLU        57146 non-null  int64
 42  GAS           57146 non-null  int64
 43  GLUE          57146 non-null  int64
 44  ETHER         57146 non-null  int64
 45  SOLVENT       57146 non-null  int64
 46  LGAS          57146 non-null  int64
 47  NITOXID       57146 non-null  int64
 48  FELTMARKR     57146 non-null  int64
 49  SPPAINT       57146 non-null  int64
 50  AIRDUSTER     57146 non-null  int64
 51  OTHAEROS      57146 non-null  int64
 52  INHALOTH      57146 non-null  int64
 53  METHAMEVR     57146 non-null  int64
 54  PNRANYLIF     57146 non-null  int64
 55  TRQANYLIF     57146 non-null  int64
 56  STMANYLIF     57146 non-null  int64
 57  SEDANYLIF     57146 non-null  int64
 58  DSTNRV30      57146 non-null  int64
 59  DSTHOP30      57146 non-null  int64
 60  DSTRST30      57146 non-null  int64
 61  DSTCHR30      57146 non-null  int64
 62  DSTEFF30      57146 non-null  int64
 63  DSTNGD30      57146 non-null  int64
dtypes: int64(64)
memory usage: 27.9 MB

In [236]:
# extracting over 18-years-of-age responses
data5_df = data5_df[data5_df['AGE2'] > 6]
data5_df

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
1,15,3,2,1,0,1,1,2,2,2,...,2,2,2,2,5,5,5,5,97,5
2,14,4,2,2,0,1,1,2,1,2,...,5,5,2,5,3,4,4,5,5,5
4,11,1,2,3,1,1,1,1,2,2,...,5,2,2,2,4,2,3,4,3,3
5,12,4,2,3,0,1,1,2,2,2,...,2,2,2,2,3,4,4,4,3,4
6,12,1,2,2,0,1,1,2,2,2,...,2,2,2,2,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57138,10,4,2,4,3,2,1,1,2,2,...,5,5,5,1,3,3,2,2,2,4
57139,15,3,2,1,1,1,1,2,2,2,...,5,1,2,2,5,5,3,3,5,3
57141,16,4,2,2,0,5,2,2,2,2,...,5,2,2,1,4,5,5,5,4,5
57142,12,4,2,3,1,1,1,2,2,2,...,2,2,2,2,5,4,5,5,5,5
57143,11,4,2,2,0,1,1,2,2,2,...,1,2,2,2,4,5,3,5,3,5

In [237]:
# copying the dataframe for more data cleaning
data5_df_cp = data5_df.copy()

In [238]:
# removing the 85 & 985 (bad data) response from all appropriate columns
data5_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']] = data5_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']].replace(85, 9999)
data5_df_cp = data5_df_cp.replace([85, 985], np.nan)
data5_df_cp = data5_df_cp.dropna()
data5_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']] = data5_df_cp.loc[:, ['ALCYRTOT', 'ALCUS30D']].replace(9999, 85)
data5_df_cp

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
1,15,3,2.0,1,0,1,1,2,2,2,...,2,2,2,2,5.0,5.0,5.0,5.0,97.0,5.0
2,14,4,2.0,2,0,1,1,2,1,2,...,5,5,2,5,3.0,4.0,4.0,5.0,5.0,5.0
4,11,1,2.0,3,1,1,1,1,2,2,...,5,2,2,2,4.0,2.0,3.0,4.0,3.0,3.0
5,12,4,2.0,3,0,1,1,2,2,2,...,2,2,2,2,3.0,4.0,4.0,4.0,3.0,4.0
6,12,1,2.0,2,0,1,1,2,2,2,...,2,2,2,2,5.0,5.0,5.0,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57138,10,4,2.0,4,3,2,1,1,2,2,...,5,5,5,1,3.0,3.0,2.0,2.0,2.0,4.0
57139,15,3,2.0,1,1,1,1,2,2,2,...,5,1,2,2,5.0,5.0,3.0,3.0,5.0,3.0
57141,16,4,2.0,2,0,5,2,2,2,2,...,5,2,2,1,4.0,5.0,5.0,5.0,4.0,5.0
57142,12,4,2.0,3,1,1,1,2,2,2,...,2,2,2,2,5.0,4.0,5.0,5.0,5.0,5.0
57143,11,4,2.0,2,0,1,1,2,2,2,...,1,2,2,2,4.0,5.0,3.0,5.0,3.0,5.0

In [239]:
# replacing the responses not useable for the project, like 'don't know' or 'refused to respond' with NaN for easy removal of rows
data5_df_cp.loc[:, 'SERVICE'] = data5_df_cp.loc[:, 'SERVICE'].replace([94, 97], np.nan)
data5_df_cp.loc[:, 'HEALTH'] = data5_df_cp.loc[:, 'HEALTH'].replace(97, np.nan)
data5_df_cp.loc[:, 'MOVSINPYR2'] = data5_df_cp.loc[:, 'MOVSINPYR2'].replace([994, 997, 998], np.nan)
data5_df_cp.loc[:, 'DIFFTHINK'] = data5_df_cp.loc[:, 'DIFFTHINK'].replace([94, 97, 98], np.nan)
data5_df_cp.loc[:, 'DIFFWALK'] = data5_df_cp.loc[:, 'DIFFWALK'].replace([94, 97, 98], np.nan)
data5_df_cp.loc[:, 'DIFFDRESS'] = data5_df_cp.loc[:, 'DIFFDRESS'].replace([94, 97, 98], np.nan)
data5_df_cp.loc[:, 'DIFFERAND'] = data5_df_cp.loc[:, 'DIFFERAND'].replace([94, 97, 98, 99], np.nan)
data5_df_cp.loc[:, 'IRMARIT'] = data5_df_cp.loc[:, 'IRMARIT'].replace(99, np.nan)
data5_df_cp.loc[:, 'WRKSTATWK2'] = data5_df_cp.loc[:, 'WRKSTATWK2'].replace([99, 98], np.nan)
data5_df_cp.loc[:, 'WRKNUMJOB2'] = data5_df_cp.loc[:, 'WRKNUMJOB2'].replace([94, 97, 98, 99], np.nan)
data5_df_cp.loc[:, 'IRWRKSTAT'] = data5_df_cp.loc[:, 'IRWRKSTAT'].replace(99, np.nan)

data5_df_cp.loc[:, 'CIGTRY'] = data5_df_cp.loc[:, 'CIGTRY'].replace([994, 997], np.nan)
data5_df_cp.loc[:, 'CIGDLYMO'] = data5_df_cp.loc[:, 'CIGDLYMO'].replace([94, 97, 98], np.nan)
data5_df_cp.loc[:, 'CIG100LF'] = data5_df_cp.loc[:, 'CIG100LF'].replace([94, 97, 98], np.nan)
data5_df_cp.loc[:, 'CG30EST'] = data5_df_cp.loc[:, 'CG30EST'].replace([94, 97, 98, 99], np.nan)

data5_df_cp.loc[:, 'ALCEVER'] = data5_df_cp.loc[:, 'ALCEVER'].replace([98, 97], np.nan)
data5_df_cp.loc[:, 'ALCREC'] = data5_df_cp.loc[:, 'ALCREC'].replace([97, 98], np.nan)
data5_df_cp.loc[:, 'ALCYRTOT'] = data5_df_cp.loc[:, 'ALCYRTOT'].replace([994, 997, 998], np.nan)
data5_df_cp.loc[:, 'ALCDAYS'] = data5_df_cp.loc[:, 'ALCDAYS'].replace([94, 97, 98], np.nan)
data5_df_cp.loc[:, 'ALCUS30D'] = data5_df_cp.loc[:, 'ALCUS30D'].replace([994, 997, 998], np.nan)

data5_df_cp.loc[:, 'MOVSINPYR2'] = data5_df_cp.loc[:, 'MOVSINPYR2'].replace([994, 997, 998], np.nan)
data5_df_cp.loc[:, 'MOVSINPYR2'] = data5_df_cp.loc[:, 'MOVSINPYR2'].replace([994, 997, 998], np.nan)

data5_df_cp.loc[:, 'MJEVER'] = data5_df_cp.loc[:, 'MJEVER'].replace([94, 97], np.nan)
data5_df_cp.loc[:, 'COCEVER'] = data5_df_cp.loc[:, 'COCEVER'].replace([94, 97], np.nan)
data5_df_cp.loc[:, 'CRKEVER'] = data5_df_cp.loc[:, 'CRKEVER'].replace([94, 97, 98], np.nan)
data5_df_cp.loc[:, 'HEREVER'] = data5_df_cp.loc[:, 'HEREVER'].replace([94, 97], np.nan)

data5_df_cp.loc[:, 'LSD'] = data5_df_cp.loc[:, 'LSD'].replace([94, 97], np.nan)
data5_df_cp.loc[:, 'PCP'] = data5_df_cp.loc[:, 'PCP'].replace([94, 97], np.nan)
data5_df_cp.loc[:, 'PEYOTE'] = data5_df_cp.loc[:, 'PEYOTE'].replace([94, 97], np.nan)
data5_df_cp.loc[:, 'MESC'] = data5_df_cp.loc[:, 'MESC'].replace([94, 97], np.nan)
data5_df_cp.loc[:, 'ECSTMOLLY'] = data5_df_cp.loc[:, 'ECSTMOLLY'].replace([94, 97], np.nan)
data5_df_cp.loc[:, 'PSILCY'] = data5_df_cp.loc[:, 'PSILCY'].replace([94, 97], np.nan)

data5_df_cp.loc[:, ['KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']] = data5_df_cp.loc[:, ['KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']].replace([94, 97], np.nan)

data5_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']] = data5_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']].replace([94, 97], np.nan)

data5_df_cp.loc[:, 'METHAMEVR'] = data5_df_cp.loc[:, 'METHAMEVR'].replace([94, 97], np.nan)

data5_df_cp.loc[:, ['PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']] = data5_df_cp.loc[:, ['PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']].replace([94, 97, 98], np.nan)

data5_df_cp.loc[:, ['DSTNRV30', 'DSTHOP30', 'DSTRST30', 'DSTCHR30', 'DSTEFF30', 'DSTNGD30']] = data5_df_cp.loc[:, ['DSTNRV30', 'DSTHOP30', 'DSTRST30', 'DSTCHR30', 'DSTEFF30', 'DSTNGD30']].replace([94, 97, 98, 99], np.nan)

In [240]:
data5_df_cp = data5_df_cp.dropna()
data5_df_cp

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
6,12,1,2.0,2.0,0.0,1,1,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0
12,13,1,2.0,1.0,0.0,2,1,2.0,2.0,2.0,...,5.0,2.0,1.0,2.0,5.0,5.0,5.0,5.0,5.0,4.0
14,14,1,2.0,2.0,0.0,1,1,2.0,2.0,2.0,...,2.0,2.0,5.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0
19,7,4,2.0,1.0,0.0,1,1,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0
21,14,1,2.0,3.0,0.0,1,1,1.0,2.0,2.0,...,5.0,5.0,1.0,1.0,3.0,3.0,3.0,4.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57131,15,1,2.0,2.0,0.0,1,1,2.0,2.0,2.0,...,5.0,2.0,5.0,2.0,4.0,5.0,5.0,5.0,5.0,5.0
57138,10,4,2.0,4.0,3.0,2,1,1.0,2.0,2.0,...,5.0,5.0,5.0,1.0,3.0,3.0,2.0,2.0,2.0,4.0
57141,16,4,2.0,2.0,0.0,5,2,2.0,2.0,2.0,...,5.0,2.0,2.0,1.0,4.0,5.0,5.0,5.0,4.0,5.0
57142,12,4,2.0,3.0,1.0,1,1,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,5.0,4.0,5.0,5.0,5.0,5.0
57143,11,4,2.0,2.0,0.0,1,1,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,4.0,5.0,3.0,5.0,3.0,5.0

In [241]:
data5_df_cp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23810 entries, 6 to 57143
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AGE2          23810 non-null  int64
 1   IRMARIT       23810 non-null  int64
 2   SERVICE       23810 non-null  float64
 3   HEALTH        23810 non-null  float64
 4   MOVSINPYR2    23810 non-null  float64
 5   SEXATRACT     23810 non-null  int64
 6   SEXIDENT      23810 non-null  int64
 7   DIFFTHINK     23810 non-null  float64
 8   DIFFWALK      23810 non-null  float64
 9   DIFFDRESS     23810 non-null  float64
 10  DIFFERAND     23810 non-null  float64
 11  IREDUHIGHST2  23810 non-null  int64
 12  WRKSTATWK2    23810 non-null  float64
 13  IRWRKSTAT     23810 non-null  int64
 14  WRKNUMJOB2    23810 non-null  float64
 15  IRPINC3       23810 non-null  int64
 16  CIGEVER       23810 non-null  int64
 17  CIGTRY        23810 non-null  float64
 18  CIGDLYMO      23810 non-null  float64
 19  CIG100LF      23810 non-null  float64
 20  CG30EST       23810 non-null  float64
 21  ALCEVER       23810 non-null  float64
 22  ALCREC        23810 non-null  float64
 23  ALCYRTOT      23810 non-null  float64
 24  ALCDAYS       23810 non-null  float64
 25  ALCUS30D      23810 non-null  float64
 26  MJEVER        23810 non-null  float64
 27  COCEVER       23810 non-null  float64
 28  CRKEVER       23810 non-null  float64
 29  HEREVER       23810 non-null  float64
 30  LSD           23810 non-null  float64
 31  PCP           23810 non-null  float64
 32  PEYOTE        23810 non-null  float64
 33  MESC          23810 non-null  float64
 34  PSILCY        23810 non-null  float64
 35  ECSTMOLLY     23810 non-null  float64
 36  KETMINESK     23810 non-null  float64
 37  DMTAMTFXY     23810 non-null  float64
 38  SALVIADIV     23810 non-null  float64
 39  HALLUCOTH     23810 non-null  float64
 40  AMYLNIT       23810 non-null  float64
 41  CLEFLU        23810 non-null  float64
 42  GAS           23810 non-null  float64
 43  GLUE          23810 non-null  float64
 44  ETHER         23810 non-null  float64
 45  SOLVENT       23810 non-null  float64
 46  LGAS          23810 non-null  float64
 47  NITOXID       23810 non-null  float64
 48  FELTMARKR     23810 non-null  float64
 49  SPPAINT       23810 non-null  float64
 50  AIRDUSTER     23810 non-null  float64
 51  OTHAEROS      23810 non-null  float64
 52  INHALOTH      23810 non-null  float64
 53  METHAMEVR     23810 non-null  float64
 54  PNRANYLIF     23810 non-null  float64
 55  TRQANYLIF     23810 non-null  float64
 56  STMANYLIF     23810 non-null  float64
 57  SEDANYLIF     23810 non-null  float64
 58  DSTNRV30      23810 non-null  float64
 59  DSTHOP30      23810 non-null  float64
 60  DSTRST30      23810 non-null  float64
 61  DSTCHR30      23810 non-null  float64
 62  DSTEFF30      23810 non-null  float64
 63  DSTNGD30      23810 non-null  float64
dtypes: float64(56), int64(8)
memory usage: 11.8 MB

In [242]:
# Some responses have different numbers but will mean the same in the m achine learning stage so I'm replacing them to be the same number
data5_df_cp.loc[:, 'SEXATRACT'] = data5_df_cp.loc[:, 'SEXATRACT'].replace(94, 6)
data5_df_cp.loc[:, 'SEXATRACT'] = data5_df_cp.loc[:, 'SEXATRACT'].replace([97, 99], 98)
data5_df_cp.loc[:, 'SEXIDENT'] = data5_df_cp.loc[:, 'SEXIDENT'].replace([97, 99], 98)
data5_df_cp.loc[:, ['CIGDLYMO', 'CIG100LF','PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']] = data5_df_cp.loc[:, ['CIGDLYMO', 'CIG100LF', 'PNRANYLIF', 'TRQANYLIF', 'STMANYLIF', 'SEDANYLIF']].replace(5, 1)
data5_df_cp.loc[:, 'ALCREC'] = data5_df_cp.loc[:, 'ALCREC'].replace(11, 1)
data5_df_cp.loc[:, 'ALCREC'] = data5_df_cp.loc[:, 'ALCREC'].replace(8, 2)
data5_df_cp.loc[:, 'ALCUS30D'] = data5_df_cp.loc[:, 'ALCUS30D'].replace(975, 4)
data4_df_cp.loc[:, 'SERVICE'] = data4_df_cp.loc[:, 'SERVICE'].replace(89, 99)
data4_df_cp.loc[:, 'SEXATRACT'] = data4_df_cp.loc[:, 'SEXATRACT'].replace(89, 99)
data4_df_cp.loc[:, 'SEXIDENT'] = data4_df_cp.loc[:, 'SEXIDENT'].replace(89, 99)

data5_df_cp.loc[:, ['CRKEVER', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']] = data5_df_cp.loc[:, ['CRKEVER', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']].replace(91, 2)

data5_df_cp.loc[:, ['CIG100LF', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']] = data5_df_cp.loc[:, ['CIG100LF', 'LSD', 'PCP', 'PEYOTE', 'MESC', 'PSILCY', 'ECSTMOLLY', 'KETMINESK', 'DMTAMTFXY', 'SALVIADIV', 'HALLUCOTH']].replace(3, 1)

data5_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']] = data5_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']].replace(91, 2)

data5_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']] = data5_df_cp.loc[:, ['AMYLNIT', 'CLEFLU', 'GAS', 'GLUE', 'ETHER', 'SOLVENT', 'LGAS', 'NITOXID', 'FELTMARKR', 'SPPAINT', 'AIRDUSTER', 'OTHAEROS', 'INHALOTH']].replace(3, 1)

data5_df_cp

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30
6,12,1,2.0,2.0,0.0,1,1,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0
12,13,1,2.0,1.0,0.0,2,1,2.0,2.0,2.0,...,1.0,2.0,1.0,2.0,5.0,5.0,5.0,5.0,5.0,4.0
14,14,1,2.0,2.0,0.0,1,1,2.0,2.0,2.0,...,2.0,2.0,1.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0
19,7,4,2.0,1.0,0.0,1,1,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0
21,14,1,2.0,3.0,0.0,1,1,1.0,2.0,2.0,...,1.0,1.0,1.0,1.0,3.0,3.0,3.0,4.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57131,15,1,2.0,2.0,0.0,1,1,2.0,2.0,2.0,...,1.0,2.0,1.0,2.0,4.0,5.0,5.0,5.0,5.0,5.0
57138,10,4,2.0,4.0,3.0,2,1,1.0,2.0,2.0,...,1.0,1.0,1.0,1.0,3.0,3.0,2.0,2.0,2.0,4.0
57141,16,4,2.0,2.0,0.0,5,2,2.0,2.0,2.0,...,1.0,2.0,2.0,1.0,4.0,5.0,5.0,5.0,4.0,5.0
57142,12,4,2.0,3.0,1.0,1,1,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,5.0,4.0,5.0,5.0,5.0,5.0
57143,11,4,2.0,2.0,0.0,1,1,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,4.0,5.0,3.0,5.0,3.0,5.0

In [243]:
# exporting the data to csv file
data5_df_cp.to_csv("project3_raw_2015.csv", index=False)

# Appending the dataframes

In [248]:
data_complete_df = pd.concat([data1_df_cp, data2_df_cp, data3_df_cp, data4_df_cp, data5_df_cp])

In [249]:
data_complete_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120543 entries, 0 to 57143
Data columns (total 64 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   AGE2          120543 non-null  int64
 1   IRMARIT       120543 non-null  int64
 2   SERVICE       120543 non-null  float64
 3   HEALTH        120543 non-null  float64
 4   MOVSINPYR2    120543 non-null  float64
 5   SEXATRACT     120543 non-null  float64
 6   SEXIDENT      120543 non-null  float64
 7   DIFFTHINK     120543 non-null  float64
 8   DIFFWALK      120543 non-null  float64
 9   DIFFDRESS     120543 non-null  float64
 10  DIFFERAND     120543 non-null  float64
 11  IREDUHIGHST2  120543 non-null  int64
 12  WRKSTATWK2    120543 non-null  float64
 13  IRWRKSTAT     120543 non-null  int64
 14  WRKNUMJOB2    120543 non-null  float64
 15  IRPINC3       120543 non-null  int64
 16  CIGEVER       120543 non-null  int64
 17  CIGTRY        120543 non-null  float64
 18  CIGDLYMO      120543 non-null  float64
 19  CIG100LF      120543 non-null  float64
 20  CG30EST       120543 non-null  float64
 21  ALCEVER       120543 non-null  float64
 22  ALCREC        120543 non-null  float64
 23  ALCYRTOT      120543 non-null  float64
 24  ALCDAYS       120543 non-null  float64
 25  ALCUS30D      120543 non-null  float64
 26  MJEVER        120543 non-null  float64
 27  COCEVER       120543 non-null  float64
 28  CRKEVER       120543 non-null  float64
 29  HEREVER       120543 non-null  float64
 30  LSD           120543 non-null  float64
 31  PCP           120543 non-null  float64
 32  PEYOTE        120543 non-null  float64
 33  MESC          120543 non-null  float64
 34  PSILCY        120543 non-null  float64
 35  ECSTMOLLY     120543 non-null  float64
 36  KETMINESK     120543 non-null  float64
 37  DMTAMTFXY     120543 non-null  float64
 38  SALVIADIV     120543 non-null  float64
 39  HALLUCOTH     120543 non-null  float64
 40  AMYLNIT       120543 non-null  float64
 41  CLEFLU        120543 non-null  float64
 42  GAS           120543 non-null  float64
 43  GLUE          120543 non-null  float64
 44  ETHER         120543 non-null  float64
 45  SOLVENT       120543 non-null  float64
 46  LGAS          120543 non-null  float64
 47  NITOXID       120543 non-null  float64
 48  FELTMARKR     120543 non-null  float64
 49  SPPAINT       120543 non-null  float64
 50  AIRDUSTER     120543 non-null  float64
 51  OTHAEROS      120543 non-null  float64
 52  INHALOTH      120543 non-null  float64
 53  METHAMEVR     120543 non-null  float64
 54  PNRANYLIF     120543 non-null  float64
 55  TRQANYLIF     120543 non-null  float64
 56  STMANYLIF     120543 non-null  float64
 57  SEDANYLIF     120543 non-null  float64
 58  DSTNRV30      120543 non-null  float64
 59  DSTHOP30      120543 non-null  float64
 60  DSTRST30      120543 non-null  float64
 61  DSTCHR30      120543 non-null  float64
 62  DSTEFF30      120543 non-null  float64
 63  DSTNGD30      120543 non-null  float64
dtypes: float64(58), int64(6)
memory usage: 59.8 MB

In [250]:
data_complete_df.to_csv("project3_raw_complete.csv", index=False)