In [1]:
# import libraries
import pandas as pd

In [2]:
# read in the data
data_df = pd.read_csv('../data/processed_csv/project3_raw_complete_adjusted.csv')
data_df

,AGE2,IRMARIT,SERVICE,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,DIFFWALK,DIFFDRESS,...,SEDANYLIF,DSTNRV30,DSTHOP30,DSTRST30,DSTCHR30,DSTEFF30,DSTNGD30,halluciogens,inhalants,not_mental
0,15,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,3.0,3.0,3.0,2.0,4.0,0,1,1
1,17,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,5.0,5.0,5.0,5.0,5.0,5.0,0,0,0
2,14,4,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,4.0,5.0,5.0,5.0,5.0,5.0,0,0,0
3,8,4,2.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,...,2.0,4.0,5.0,5.0,5.0,5.0,5.0,0,0,0
4,14,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,4.0,5.0,5.0,4.0,4.0,5.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120538,15,1,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,4.0,5.0,5.0,5.0,5.0,5.0,1,0,0
120539,10,4,2.0,4.0,3.0,2.0,1.0,1.0,2.0,2.0,...,1.0,3.0,3.0,2.0,2.0,2.0,4.0,1,0,1
120540,16,4,2.0,2.0,0.0,5.0,2.0,2.0,2.0,2.0,...,1.0,4.0,5.0,5.0,5.0,4.0,5.0,0,1,0
120541,12,4,2.0,3.0,1.0,1.0,1.0,2.0,2.0,2.0,...,2.0,5.0,4.0,5.0,5.0,5.0,5.0,1,0,0
120542,11,4,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0,...,2.0,4.0,5.0,3.0,5.0,3.0,5.0,0,0,0

In [3]:
data_final_df = data_df[['AGE2',
 'IRMARIT',
 'HEALTH',
 'MOVSINPYR2',
 'SEXATRACT',
 'SEXIDENT',
 'DIFFTHINK',
 'IREDUHIGHST2',
 'WRKSTATWK2',
 'IRWRKSTAT',
 'WRKNUMJOB2',
 'IRPINC3',
 'CIG100LF',
 'ALCUS30D',
 'CIGTRY',
 'CG30EST',
 'ALCDAYS',
 'COCEVER',
 'CRKEVER',
 'MJEVER',
 'HEREVER',
 'METHAMEVR',
 'PNRANYLIF',
 'TRQANYLIF',
 'STMANYLIF',
 'SEDANYLIF', 
 'halluciogens', 
 'inhalants',
 'not_mental']]
data_final_df

,AGE2,IRMARIT,HEALTH,MOVSINPYR2,SEXATRACT,SEXIDENT,DIFFTHINK,IREDUHIGHST2,WRKSTATWK2,IRWRKSTAT,...,MJEVER,HEREVER,METHAMEVR,PNRANYLIF,TRQANYLIF,STMANYLIF,SEDANYLIF,halluciogens,inhalants,not_mental
0,15,1,2.0,0.0,1.0,1.0,2.0,11,1.0,1,...,1.0,2.0,2.0,1.0,2.0,2.0,2.0,0,1,1
1,17,1,2.0,0.0,1.0,1.0,2.0,11,1.0,1,...,2.0,2.0,2.0,1.0,2.0,2.0,2.0,0,0,0
2,14,4,2.0,0.0,1.0,1.0,2.0,11,1.0,1,...,1.0,2.0,2.0,1.0,2.0,2.0,2.0,0,0,0
3,8,4,2.0,1.0,1.0,1.0,2.0,9,4.0,3,...,1.0,2.0,2.0,2.0,1.0,1.0,2.0,0,0,0
4,14,1,2.0,0.0,1.0,1.0,2.0,11,1.0,1,...,2.0,2.0,2.0,1.0,2.0,2.0,2.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120538,15,1,2.0,0.0,1.0,1.0,2.0,9,3.0,1,...,2.0,2.0,2.0,1.0,2.0,1.0,2.0,1,0,0
120539,10,4,4.0,3.0,2.0,1.0,1.0,9,1.0,1,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1,0,1
120540,16,4,2.0,0.0,5.0,2.0,2.0,11,1.0,1,...,2.0,2.0,2.0,1.0,2.0,2.0,1.0,0,1,0
120541,12,4,3.0,1.0,1.0,1.0,2.0,8,3.0,1,...,1.0,2.0,2.0,2.0,2.0,2.0,2.0,1,0,0
120542,11,4,2.0,0.0,1.0,1.0,2.0,9,2.0,2,...,2.0,2.0,2.0,1.0,2.0,2.0,2.0,0,0,0

In [4]:
# exporting the data to csv file
data_final_df.to_csv("processed_csv/project3_raw_final.csv", index=False)